/* Base */
a,
.btn-link {
    color: #005d7c;
}

a:hover,
a:focus,
.btn-link:hover,
.btn-link:focus {
    color: #0099e6;
}

a:active,
.btn-link:active {
    color: #0077b3;
}
/* Sidebar Left */
.sidebar-left .sidebar-header .sidebar-toggle:hover i {
    color: #005d7c;
}

@media only screen and (min-width: 768px) {
    html.sidebar-left-collapsed.scroll .sidebar-left .nav-main li.nav-active a:hover,
    html.sidebar-left-collapsed.boxed .sidebar-left .nav-main li.nav-active a:hover {
        color: #005d7c;
    }

    html.sidebar-left-collapsed.scroll .sidebar-left .nav-main > li:hover > a span.label,
    html.sidebar-left-collapsed.boxed .sidebar-left .nav-main > li:hover > a span.label {
        background-color: #005d7c;
    }
}
/* Layout Boxed - small than min-width */
@media only screen and (max-width: 1199px) {
    html.boxed .header {
        border-top-color: #005d7c;
    }
}
/* Layout Boxed - larger or equal min width */
@media only screen and (min-width: 1200px) {
    html.boxed .header {
        border-top-color: #005d7c;
    }

    html.boxed .sidebar-right {
        border-top-color: #005d7c;
        min-height: 0;
    }
}
/* Userbox - Open */
.userbox.open .dropdown-menu a:hover {
    background: #005d7c;
}
/* Mailbox */
.mailbox .mailbox-mail-list li.active {
    background: #005d7c;
}

.mailbox .mailbox-mail .mailbox-close-mail {
    color: #005d7c;
}

.mailbox .mailbox-mail .mailbox-close-mail:hover {
    color: #0099e6;
}

.mailbox .mailbox-mail .panel .panel-heading .panel-actions a:hover {
    color: #005d7c;
}
/* Media Gallery */
.media-gallery ul.mg-tags > li a:hover {
    background-color: #005d7c;
}

.media-gallery .mg-files .thumbnail .thumb-preview .mg-thumb-options .mg-zoom {
    background-color: #005d7c;
}

.media-gallery .mg-files .thumbnail .thumb-preview .mg-thumb-options .mg-toolbar {
    background-color: #005d7c;
}

.media-gallery .mg-files .thumbnail.thumbnail-selected {
    box-shadow: 0 0 8px -1px #005d7c;
}
/* Sign Screens - Wrappers */
.body-sign .panel-sign .panel-title-sign .title {
    background-color: #005d7c;
}

.body-sign .panel-sign .panel-body {
    border-top-color: #005d7c;
}
/* Lock Screen */
.body-locked .current-user .user-image {
    border-color: #005d7c;
}
/* Blockquote */
blockquote.primary {
    border-color: #005d7c;
}
/* Nav Pills */
.nav-pills-primary > li a:hover,
.nav-pills-primary > li a:focus {
    color: #005d7c;
    background-color: #cceeff;
}

.nav-pills-primary > li.active > a,
.nav-pills-primary > li.active > a:hover,
.nav-pills-primary > li.active > a:active,
.nav-pills-primary > li.active > a:focus {
    background-color: #005d7c;
}
/* Dropdown Menu */
.dropdown-menu  > .active  > a,
.dropdown-menu  > .active  > a:hover,
.dropdown-menu  > .active  > a:focus {
    background-color: #005d7c;
}

.open > .dropdown-toggle.btn-primary {
    background: #005d7c;
    border-color: #0077b3;
}

body .btn-primary.dropdown-toggle {
    border-left-color: #00a3f5;
}
/* Buttons */
body .btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #005d7c;
    border-color: #005d7c;
}

body .btn-primary:hover {
    border-color: #0099e6 !important;
    background-color: #0099e6;
}

body .btn-primary:active,
body .btn-primary:focus {
    border-color: #0077b3 !important;
    background-color: #0077b3;
}

body .btn-primary[disabled] {
    border-color: #33bbff !important;
    background-color: #33bbff;
}

body .btn-success {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #47a447;
    border-color: #47a447;
}

body .btn-success:hover {
    border-color: #51b451 !important;
    background-color: #51b451;
}

body .btn-success:active,
body .btn-success:focus {
    border-color: #3f923f !important;
    background-color: #3f923f;
}

body .btn-success[disabled] {
    border-color: #86cb86 !important;
    background-color: #86cb86;
}

body .btn-warning {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ed9c28;
    border-color: #ed9c28;
}

body .btn-warning:hover {
    border-color: #efa740 !important;
    background-color: #efa740;
}

body .btn-warning:active,
body .btn-warning:focus {
    border-color: #e89113 !important;
    background-color: #e89113;
}

body .btn-warning[disabled] {
    border-color: #f5c786 !important;
    background-color: #f5c786;
}

body .btn-danger {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #d2322d;
    border-color: #d2322d;
}

body .btn-danger:hover {
    border-color: #d64742 !important;
    background-color: #d64742;
}

body .btn-danger:active,
body .btn-danger:focus {
    border-color: #bd2d29 !important;
    background-color: #bd2d29;
}

body .btn-danger[disabled] {
    border-color: #e48481 !important;
    background-color: #e48481;
}

body .btn-info {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bc0de;
    border-color: #5bc0de;
}

body .btn-info:hover {
    border-color: #70c8e2 !important;
    background-color: #70c8e2;
}

body .btn-info:active,
body .btn-info:focus {
    border-color: #46b8da !important;
    background-color: #46b8da;
}

body .btn-info[disabled] {
    border-color: #b0e1ef !important;
    background-color: #b0e1ef;
}

body .btn-dark {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #171717;
    border-color: #171717;
}

body .btn-dark:hover {
    border-color: #242424 !important;
    background-color: #242424;
}

body .btn-dark:active,
body .btn-dark:focus {
    border-color: #0a0a0a !important;
    background-color: #0a0a0a;
}

body .btn-dark[disabled] {
    border-color: #4a4a4a !important;
    background-color: #4a4a4a;
}
/* Switch*/
.switch.switch-primary .ios-switch .on-background {
    background: #005d7c;
}
/* Label */
.label-primary {
    background: #005d7c;
}
/* Text Primary */
.text-primary {
    color: #005d7c !important;
}
/* BG Primary */
.bg-primary {
    background: #005d7c;
}
/* Alternative Font Style */
.alternative-font {
    color: #005d7c;
}
/* Hightlight */
.highlight {
    background-color: #005d7c;
}
/* Drop Caps */
p.drop-caps.colored:first-child:first-letter {
    color: #005d7c;
}

p.drop-caps.colored.secundary:first-child:first-letter {
    background-color: #005d7c;
}
/* Well */
.well.primary {
    background: #005d7c;
    border-color: #006699;
}
/* Form */
.form-control:focus {
    border-color: #33bbff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 136, 204, 0.3);
}
/* Header */
.header .toggle-sidebar-left {
    background: #005d7c;
}
/* Page Header */
.page-header h2 {
    border-bottom-color: #005d7c;
}

.page-header .sidebar-right-toggle:hover {
    color: #005d7c;
}
/* Navigation */
ul.nav-main > li.nav-active > a {
    box-shadow: 2px 0 0 #005d7c inset;
}

ul.nav-main > li.nav-active > i {
    color: #005d7c;
}

ul.nav-main li .nav-children li.nav-active > a {
    color: #005d7c;
}

html.sidebar-light:not(.dark) ul.nav-main > li.nav-active > a {
    color: #005d7c;
}
/* Nano Scroller Plugin */
html.no-overflowscrolling .nano > .nano-pane > .nano-slider {
    background: #005d7c;
}
/* Nav Pills */
.nav-pills > .active a,
.nav-pills > .active a:hover,
.nav-pills > .active a:focus {
    background-color: #005d7c;
}
/* Pagination */
.pagination > li a {
    color: #005d7c;
}

.pagination > li a:hover,
.pagination > li a:focus {
    color: #0099e6;
}

.pagination > li.active a,
.pagination > li.active span,
.pagination > li.active a:hover,
.pagination > li.active span:hover,
.pagination > li.active a:focus,
.pagination > li.active span:focus {
    background-color: #005d7c;
    border-color: #005d7c;
}

.pagination > li.active a {
    background-color: #005d7c;
}

html .pagination > li.active a,
html.dark .pagination > li.active a,
html .pagination > li.active span,
html.dark .pagination > li.active span,
html .pagination > li.active a:hover,
html.dark .pagination > li.active a:hover,
html .pagination > li.active span:hover,
html.dark .pagination > li.active span:hover,
html .pagination > li.active a:focus,
html.dark .pagination > li.active a:focus,
html .pagination > li.active span:focus,
html.dark .pagination > li.active span:focus {
    background-color: #005d7c;
    border-color: #005d7c;
}

html .pagination > li.active a,
html.dark .pagination > li.active a {
    background-color: #005d7c;
}
/* Fullcalendar */
.fc .fc-toolbar h2:before {
    color: #005d7c;
}

.fc .fc-toolbar .fc-button.fc-state-active {
    background-color: #005d7c;
}

.fc-event {
    background: #005d7c;
    border-color: #005d7c;
}

.fc-event.fc-event-primary {
    background: #005d7c;
    border-color: #005d7c;
}
/* Maps */
.jqvmap-zoomin,
.jqvmap-zoomout {
    background: #005d7c;
}
/* Timeline */
.timeline .tm-items > li .tm-datetime .tm-datetime-time {
    color: #005d7c;
}

.timeline .tm-items > li .tm-icon {
    border-color: #005d7c;
    color: #005d7c;
}

.timeline.timeline-simple .tm-body .tm-items > li:before {
    background: #005d7c;
    box-shadow: 0 0 0 3px #FFF, 0 0 0 6px #005d7c;
}

html.dark .timeline.timeline-simple .tm-body .tm-items > li:before {
    background: #005d7c;
    box-shadow: 0 0 0 3px #2e353e, 0 0 0 6px #005d7c;
}
/* Princing Table */
.pricing-table h3 span {
    color: #005d7c;
}

.pricing-table .most-popular h3 {
    background-color: #005d7c !important;
    color: #FFF !important;
}
/* Data Tables Loading */
.dataTables_processing {
    background-color: #005d7c;
}
/* Accordion */
.panel-group .panel-accordion .panel-heading a {
    color: #005d7c;
}
/* Alerts */
.alert-primary {
    background-color: #005d7c;
    border-color: #007ebd;
}

.alert-primary .alert-link {
    color: #004466;
}
/* Nestable */
.dd-handle:hover {
    color: #005d7c !important;
}

.dd-placeholder {
    background: #e6f7ff;
    border-color: #005d7c;
}
/* Panels */
.panel-highlight .panel-heading {
    background-color: #005d7c;
    border-color: #005d7c;
}

.panel-highlight .panel-body {
    background-color: #005d7c;
}

html .panel-primary .panel-heading {
    background: #005d7c;
    border-color: #005d7c;
}

.panel-heading.bg-primary {
    background: #005d7c;
}

.panel-body.bg-primary {
    background: #005d7c;
}

.panel-featured-primary {
    border-color: #005d7c;
}

.panel-featured-primary .panel-title {
    color: #005d7c;
}

.panel-heading-icon.bg-primary {
    background: #005d7c;
}

.panel-group .panel-accordion-primary .panel-heading .panel-title a {
    background: #005d7c;
}
/* Progress Bar */
.progress-bar {
    background-color: #005d7c;
}

.progress .progress-bar-primary {
    background-color: #005d7c;
}
/* Toggle */
.toggle label {
    border-left-color: #005d7c;
    color: #005d7c;
}

.toggle.active > label {
    background: #005d7c !important;
    border-color: #005d7c;
}
/* Treeview */
.jstree-default .jstree-hovered {
    background-color: #e6f7ff !important;
}

.jstree-default .jstree-clicked {
    background-color: #b3e5ff !important;
}

.jstree-default .colored {
    color: #005d7c !important;
}

.jstree-default .colored .jstree-icon {
    color: #005d7c !important;
}

.jstree-default .colored-icon .jstree-icon {
    color: #005d7c !important;
}
/* Widgets */
.sidebar-widget.widget-tasks ul li:before {
    border-color: #005d7c;
}

.widget-twitter-profile {
    background-color: #005d7c;
}

.widget-twitter-profile .profile-quote {
    background-color: #0096e0;
}

.widget-twitter-profile .profile-quote .quote-footer {
    border-top-color: rgba(0, 170, 255, 0.7);
}

.widget-profile-info .profile-info .profile-footer {
    border-top-color: rgba(0, 170, 255, 0.7);
}
/* Thumb Info */
.thumb-info .thumb-info-type {
    background-color: #005d7c;
}
/* Social Icons */
.social-icons-list a {
    background: #005d7c;
}
/* Notifications */
.notifications .notification-menu .notification-title {
    background: #005d7c;
}

.notifications .notification-menu .notification-title .label-default {
    background-color: #006699;
}

.notifications .notification-menu:before,
.notifications .notification-icon:before {
    border-bottom-color: #005d7c;
}

.ui-pnotify .notification-primary {
    background: rgba(0, 136, 204, 0.95);
}

.ui-pnotify.stack-bar-top .notification-primary,
.ui-pnotify.stack-bar-bottom .notification-primary {
    background: #005d7c;
}

.ui-pnotify.notification-primary .notification,
.ui-pnotify.notification-primary .notification-primary {
    background: rgba(0, 136, 204, 0.95);
}

.ui-pnotify.notification-primary.stack-bar-top .notification,
.ui-pnotify.notification-primary.stack-bar-bottom .notification,
.ui-pnotify.notification-primary.stack-bar-top .notification-primary,
.ui-pnotify.notification-primary.stack-bar-bottom .notification-primary {
    background: #005d7c;
}
/* Modal */
.modal-block-primary .fa {
    color: #005d7c;
}

.modal-block-primary.modal-header-color .panel-heading {
    background-color: #005d7c;
}

.modal-block-primary.modal-full-color .panel {
    background-color: #00a3f5;
}

.modal-block-primary.modal-full-color .panel-heading {
    background-color: #005d7c;
}

.modal-block-primary.modal-full-color .panel-footer {
    background-color: #00a3f5;
}
/* Modal Icon */
.modal-block-primary .modal-icon .fa {
    color: #005d7c;
}
/* Tabs */
html body .tabs-primary .nav-tabs li a,
html.dark body .tabs-primary .nav-tabs li a,
html body .tabs-primary .nav-tabs.nav-justified li a,
html.dark body .tabs-primary .nav-tabs.nav-justified li a,
html body .tabs-primary .nav-tabs li a:hover,
html.dark body .tabs-primary .nav-tabs li a:hover,
html body .tabs-primary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li a:hover {
    color: #005d7c;
}

html body .tabs-primary .nav-tabs li a:hover,
html.dark body .tabs-primary .nav-tabs li a:hover,
html body .tabs-primary .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li a:hover {
    border-top-color: #005d7c;
}

html body .tabs-primary .nav-tabs li.active a,
html.dark body .tabs-primary .nav-tabs li.active a,
html body .tabs-primary .nav-tabs.nav-justified li.active a,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a,
html body .tabs-primary .nav-tabs li.active a:hover,
html.dark body .tabs-primary .nav-tabs li.active a:hover,
html body .tabs-primary .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:hover,
html body .tabs-primary .nav-tabs li.active a:focus,
html.dark body .tabs-primary .nav-tabs li.active a:focus,
html body .tabs-primary .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-primary .nav-tabs.nav-justified li.active a:focus {
    border-top-color: #005d7c;
    color: #005d7c;
}

html body .tabs-primary.tabs-bottom .nav-tabs li a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li a:hover {
    border-bottom-color: #005d7c;
}

html body .tabs-primary.tabs-bottom .nav-tabs li.active a,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a,
html body .tabs-primary.tabs-bottom .nav-tabs li.active a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:hover,
html body .tabs-primary.tabs-bottom .nav-tabs li.active a:focus,
html.dark body .tabs-primary.tabs-bottom .nav-tabs li.active a:focus,
html body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:focus,
html.dark body .tabs-primary.tabs-bottom .nav-tabs.nav-justified li.active a:focus {
    border-top-color: #FFF;
    border-bottom-color: #005d7c;
}

html body .tabs-primary.tabs-vertical.tabs-left li a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-left li a:hover {
    border-left-color: #005d7c;
}

html body .tabs-primary.tabs-vertical.tabs-left li.active a,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a,
html body .tabs-primary.tabs-vertical.tabs-left li.active a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a:hover,
html body .tabs-primary.tabs-vertical.tabs-left li.active a:focus,
html.dark body .tabs-primary.tabs-vertical.tabs-left li.active a:focus {
    border-left-color: #005d7c;
}

html body .tabs-primary.tabs-vertical.tabs-right li a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-right li a:hover {
    border-right-color: #005d7c;
}

html body .tabs-primary.tabs-vertical.tabs-right li.active a,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a,
html body .tabs-primary.tabs-vertical.tabs-right li.active a:hover,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a:hover,
html body .tabs-primary.tabs-vertical.tabs-right li.active a:focus,
html.dark body .tabs-primary.tabs-vertical.tabs-right li.active a:focus {
    border-right-color: #005d7c;
}
/* Simple List */
ul.simple-bullet-list li:before {
    border-color: #005d7c;
}
/* Simple Card List */
.simple-card-list li.primary {
    background: #005d7c;
}
/* Search Results */
.search-content .search-toolbar .nav-pills li.active a {
    color: #005d7c;
    border-bottom-color: #005d7c;
}

.search-results-list .result-thumb .fa {
    background: #005d7c;
}
/* Scrollable */
.scrollable.colored-slider .scrollable-slider {
    background: #005d7c;
}

html.dark .search-content .search-toolbar .nav-pills li.active a,
html.dark .search-content .search-toolbar .nav-pills li.active a:hover,
html.dark .search-content .search-toolbar .nav-pills li.active a:focus {
    color: #005d7c;
    border-bottom-color: #005d7c;
}
/* Time Picker */
.bootstrap-timepicker-widget table td a:hover {
    background-color: #005d7c;
}
/* Loading Progress */
#nprogress .bar {
    background: #005d7c;
}

#nprogress .peg {
    box-shadow: 0 0 10px 1px #005d7c, 0 0 5px #005d7c;
}
/* Zoom */
.img-thumbnail .zoom {
    background: #005d7c;
}
/* Owl Carousel */
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #0074ad;
}

.owl-theme .owl-nav [class*="owl-"] {
    background: #005d7c;
}

.owl-theme .owl-nav [class*="owl-"]:focus,
.owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: #009ceb;
}
/* Chartist */
.ct-chart .tooltip {
    background: #005d7c;
}

.ct-chart .tooltip:after {
    border-top-color: #005d7c;
}

.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
    stroke: #005d7c;
}

.ct-chart .ct-series.ct-series-a .ct-area,
.ct-chart .ct-series.ct-series-a .ct-slice:not(.ct-donut) {
    fill: #005d7c;
}

.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice.ct-donut {
    stroke: #005580;
}

.ct-chart .ct-series.ct-series-b .ct-area,
.ct-chart .ct-series.ct-series-b .ct-slice:not(.ct-donut) {
    fill: #005580;
}

.ct-chart .ct-series.ct-series-i .ct-bar,
.ct-chart .ct-series.ct-series-i .ct-line,
.ct-chart .ct-series.ct-series-i .ct-point,
.ct-chart .ct-series.ct-series-i .ct-slice.ct-donut {
    stroke: #005580;
}

.ct-chart .ct-series.ct-series-i .ct-area,
.ct-chart .ct-series.ct-series-i .ct-slice:not(.ct-donut) {
    fill: #005580;
}

.ct-chart .ct-series.ct-series-j .ct-bar,
.ct-chart .ct-series.ct-series-j .ct-line,
.ct-chart .ct-series.ct-series-j .ct-point,
.ct-chart .ct-series.ct-series-j .ct-slice.ct-donut {
    stroke: #1ab2ff;
}

.ct-chart .ct-series.ct-series-j .ct-area,
.ct-chart .ct-series.ct-series-j .ct-slice:not(.ct-donut) {
    fill: #1ab2ff;
}

.ct-chart .ct-series.ct-series-n .ct-bar,
.ct-chart .ct-series.ct-series-n .ct-line,
.ct-chart .ct-series.ct-series-n .ct-point,
.ct-chart .ct-series.ct-series-n .ct-slice.ct-donut {
    stroke: #00111a;
}

.ct-chart .ct-series.ct-series-n .ct-area,
.ct-chart .ct-series.ct-series-n .ct-slice:not(.ct-donut) {
    fill: #00111a;
}

.ct-chart .ct-series.ct-series-o .ct-bar,
.ct-chart .ct-series.ct-series-o .ct-line,
.ct-chart .ct-series.ct-series-o .ct-point,
.ct-chart .ct-series.ct-series-o .ct-slice.ct-donut {
    stroke: #80d4ff;
}

.ct-chart .ct-series.ct-series-o .ct-area,
.ct-chart .ct-series.ct-series-o .ct-slice:not(.ct-donut) {
    fill: #80d4ff;
}
/* Checkboxes */
html.dark .checkbox-primary label:before,
.checkbox-primary label:before {
    background: #005d7c;
    border-color: #0077b3;
}

html.dark .checkbox-text-primary input[type="checkbox"]:checked + label:after,
.checkbox-text-primary input[type="checkbox"]:checked + label:after {
    color: #005d7c;
}
/* Radios */
html.dark .radio-primary input[type="radio"]:checked + label:after,
.radio-primary input[type="radio"]:checked + label:after {
    background: #005d7c;
    -webkit-box-shadow: 0px 0px 1px #005d7c;
    box-shadow: 0px 0px 1px #005d7c;
}
/* Switch */
.switch.switch-primary .ios-switch .on-background {
    background: #005d7c;
}
/* Progress Bar */
.progress-bar {
    background-color: #005d7c;
}

.progress .progress-bar-primary {
    background-color: #005d7c;
}
/* Slider */
.slider-primary .ui-slider-range,
.slider-primary .ui-slider-handle {
    background: #005d7c;
}

.slider-gradient.slider-primary .ui-slider-range,
.slider-gradient.slider-primary .ui-slider-handle {
    background-image: -webkit-linear-gradient(left, #00aaff 0, #005d7c 50%, #006699 100%);
    background-image: linear-gradient(left, #00aaff 0, #005d7c 50%, #006699 100%);
}

.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-range,
.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-handle {
    background-image: -webkit-linear-gradient(to right, #00aaff 0, #005d7c 50%, #006699 100%);
    background-image: linear-gradient(to right, #00aaff 0, #005d7c 50%, #006699 100%);
}
/* DatePicker */
.datepicker table {
    width: 100%;
}

.datepicker table thead tr th.prev:hover,
.datepicker table thead tr th.next:hover {
    background: #005d7c;
}

.datepicker table thead tr:first-child th:hover {
    background: #005d7c;
}

.datepicker table tr td span:hover {
    background: #005d7c;
}

.datepicker table tr td.day:hover {
    background: #005d7c;
}

.datepicker table tfoot tr th:hover {
    background: #005d7c;
}
/* DatePicker: Dark */
html.dark .datepicker.datepicker-primary table thead tr th.prev:hover,
.datepicker.datepicker-dark table thead tr th.prev:hover,
html.dark .datepicker.datepicker-primary table thead tr th.next:hover,
.datepicker.datepicker-dark table thead tr th.next:hover {
    background: #005d7c;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day:hover,
.datepicker.datepicker-dark table tbody tr td.day:hover {
    background: #005d7c;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day.active,
.datepicker.datepicker-dark table tbody tr td.day.active {
    background: #005d7c;
}
/* DatePicker: Primary */
.datepicker.datepicker-primary table thead tr:first-child {
    background-color: #005d7c;
}

.datepicker.datepicker-primary table thead tr:first-child th:hover {
    background-color: #006699;
}

.datepicker.datepicker-primary table thead tr:last-child {
    background-color: #0099e6;
}

.datepicker.datepicker-primary table thead tr:last-child th:hover {
    background-color: #005d7c;
}

.datepicker.datepicker-primary table tbody tr td.day:hover {
    background: #005d7c;
}

.datepicker.datepicker-primary table tbody tr td.day.active {
    background: #005d7c;
}
/* Select 2 */
.select2-container-multi .select2-choices .select2-search-choice {
    background: #005d7c;
}
/* Wizard */
.wizard-steps > li.active .badge {
    background-color: #005d7c;
}

.wizard-steps > li.active a,
.wizard-steps > li.active a:hover,
.wizard-steps > li.active a:focus {
    border-top-color: #005d7c;
}

.wizard-tabs ul > li.active .badge {
    background-color: #005d7c;
}

html .wizard-progress .steps-progress .progress-indicator,
html.dark .wizard-progress .steps-progress .progress-indicator {
    background: #005d7c;
}

html .wizard-progress .wizard-steps li.completed a span,
html.dark .wizard-progress .wizard-steps li.completed a span {
    border-color: #005d7c;
    background: #005d7c;
}

html .wizard-progress .wizard-steps li.active a span,
html.dark .wizard-progress .wizard-steps li.active a span {
    color: #005d7c;
    border-color: #005d7c;
}
/* Tables */
.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
    background-color: #005d7c;
}
/* Data Tables Loading */
.dataTables_processing {
    background-color: #005d7c;
}
/* Liquid Meter */
.liquid-meter-wrapper .liquid-meter-selector a.active {
    color: #005d7c;
}
/* Checkboxes */
html.dark .checkbox-primary label:before,
.checkbox-primary label:before {
    background: #005d7c;
    border-color: #0077b3;
}

html.dark .checkbox-text-primary input[type="checkbox"]:checked + label:after,
.checkbox-text-primary input[type="checkbox"]:checked + label:after {
    color: #005d7c;
}
/* Radios */
html.dark .radio-primary input[type="radio"]:checked + label:after,
.radio-primary input[type="radio"]:checked + label:after {
    background: #005d7c;
    -webkit-box-shadow: 0px 0px 1px #005d7c;
    box-shadow: 0px 0px 1px #005d7c;
}
/* Switch */
.switch.switch-primary .ios-switch .on-background {
    background: #005d7c;
}
/* Progress Bar */
.progress-bar {
    background-color: #005d7c;
}

.progress .progress-bar-primary {
    background-color: #005d7c;
}
/* Slider */
.slider-primary .ui-slider-range,
.slider-primary .ui-slider-handle {
    background: #005d7c;
}

.slider-gradient.slider-primary .ui-slider-range,
.slider-gradient.slider-primary .ui-slider-handle {
    background-image: -webkit-linear-gradient(left, #00aaff 0, #005d7c 50%, #006699 100%);
    background-image: linear-gradient(left, #00aaff 0, #005d7c 50%, #006699 100%);
}

.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-range,
.slider-gradient.ui-slider-vertical.slider-primary .ui-slider-handle {
    background-image: -webkit-linear-gradient(to right, #00aaff 0, #005d7c 50%, #006699 100%);
    background-image: linear-gradient(to right, #00aaff 0, #005d7c 50%, #006699 100%);
}
/* DatePicker */
.datepicker table {
    width: 100%;
}

.datepicker table thead tr th.prev:hover,
.datepicker table thead tr th.next:hover {
    background: #005d7c;
}

.datepicker table thead tr:first-child th:hover {
    background: #005d7c;
}

.datepicker table tr td span:hover {
    background: #005d7c;
}

.datepicker table tr td.day:hover {
    background: #005d7c;
}

.datepicker table tfoot tr th:hover {
    background: #005d7c;
}
/* DatePicker: Dark */
html.dark .datepicker.datepicker-primary table thead tr th.prev:hover,
.datepicker.datepicker-dark table thead tr th.prev:hover,
html.dark .datepicker.datepicker-primary table thead tr th.next:hover,
.datepicker.datepicker-dark table thead tr th.next:hover {
    background: #005d7c;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day:hover,
.datepicker.datepicker-dark table tbody tr td.day:hover {
    background: #005d7c;
}

html.dark .datepicker.datepicker-primary table tbody tr td.day.active,
.datepicker.datepicker-dark table tbody tr td.day.active {
    background: #005d7c;
}
/* DatePicker: Primary */
.datepicker.datepicker-primary table thead tr:first-child {
    background-color: #005d7c;
}

.datepicker.datepicker-primary table thead tr:first-child th:hover {
    background-color: #006699;
}

.datepicker.datepicker-primary table thead tr:last-child {
    background-color: #0099e6;
}

.datepicker.datepicker-primary table thead tr:last-child th:hover {
    background-color: #005d7c;
}

.datepicker.datepicker-primary table tbody tr td.day:hover {
    background: #005d7c;
}

.datepicker.datepicker-primary table tbody tr td.day.active {
    background: #005d7c;
}
/* Select 2 */
.select2-container-multi .select2-choices .select2-search-choice {
    background: #005d7c;
}
/* Wizard */
.wizard-steps > li.active .badge {
    background-color: #005d7c;
}

.wizard-steps > li.active a,
.wizard-steps > li.active a:hover,
.wizard-steps > li.active a:focus {
    border-top-color: #005d7c;
}

.wizard-tabs ul > li.active .badge {
    background-color: #005d7c;
}

html .wizard-progress .steps-progress .progress-indicator,
html.dark .wizard-progress .steps-progress .progress-indicator {
    background: #005d7c;
}

html .wizard-progress .wizard-steps li.completed a span,
html.dark .wizard-progress .wizard-steps li.completed a span {
    border-color: #005d7c;
    background: #005d7c;
}

html .wizard-progress .wizard-steps li.active a span,
html.dark .wizard-progress .wizard-steps li.active a span {
    color: #005d7c;
    border-color: #005d7c;
}
/* Tables */
.table > thead > tr > td.primary,
.table > tbody > tr > td.primary,
.table > tfoot > tr > td.primary,
.table > thead > tr > th.primary,
.table > tbody > tr > th.primary,
.table > tfoot > tr > th.primary,
.table > thead > tr.primary > td,
.table > tbody > tr.primary > td,
.table > tfoot > tr.primary > td,
.table > thead > tr.primary > th,
.table > tbody > tr.primary > th,
.table > tfoot > tr.primary > th {
    background-color: #005d7c;
}
/* Data Tables Loading */
.dataTables_processing {
    background-color: #005d7c;
}
/* Liquid Meter */
.liquid-meter-wrapper .liquid-meter-selector a.active {
    color: #005d7c;
}


.dropzone {
    /* border: 6px dashed rgba(0, 0, 0, 0.3);*/
}

.dropzone {

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4%;
    height: 100%;
    float: left;
    display: block;
    /* margin-left: 15px;*/
    background-color: #005d7c;
}

.dropzone .dz-message {
    text-align: center;
    vertical-align: middle;
    color: #fff;
    margin: 2em 0;
    font-weight: bold;
}

.row.vertical-divider {
    overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: -100px;
    border-left: 1px solid #005d7c;
    border-right: 1px solid #005d7c;
}
.row.vertical-divider div[class^="col-"]:first-child {
    border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
    border-right: none;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 30px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px 0 0px 4px;
}

.btn-remover-nestle{
    padding: 7px 9px 0px 10px
}
.dropzone .dz-default span {
    color: rgb(255, 255, 255);
}

