{% extends 'base.admin.html.twig' %}
{% block titulo %}{% endblock %}
{% block breadcumbsTitulo %} {% endblock %}
{% block conteudo %}

    <div class="container-requisitar">
        <button type="button" class="btn btn-warning obs-btn" id="swal">
            Observação
            <i class="fa fa-commenting"></i>
        </button>
        <button type="button" class="btn btn-primary obs-btn hidden" id="alterar-curso">
            Alterar Curso
            <i class="fa fa-book"></i>
        </button>
    </div>

    <div class="container-requisitar" data-multiplosc="{{ quantidadeDeCursos }}" id="main-data-container">
        <div class="panel panel-primary panel-size">
            <div class="panel-heading">
                Pedido do Curso <span id="header-nome-curso"></span>
            </div>

            <div class="panel panel-primary panel-display-row">
                <div class="product-subcontainer">

                    <div class="panel-body container-selects" id="clone-container">
                        <div class="subcontainer-produto">
                            <label for="select-produto">Produto</label>
                            <select class="form-control form-control-sm fullwidth" id="select-0" name="select-produto"></select>
                        </div>

                        <fieldset disabled>
                            <div class="subcontainer-valor">
                                <label for="preco">Preço un.</label>
                                <input class="form-control" id="preco">
                            </div>
                        </fieldset>

                        <div class="subcontainer-quantidade">
                            <label for="quant">Quantidade</label>
                            <input type="number" min="1" class="form-control" id="quant">
                        </div>

                        <div class="subcontainer-remove-row">
                            <label class="label-trash">Quantidade</label>
                            <button class="btn btn-danger btn-sm btn-sizing-trash" name="remover">
                                <i class='fa fa-trash'></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="panel-body container-selects">
                    <div class="subcontainer-second" id="container-btn-pos">
                        <button class="btn btn-success btn-sm btn-sizing" id="btn-check" disabled>
                            <i class='fa fa-check'></i>
                        </button>
                        <button class="btn btn-success btn-sm btn-sizing" id="btn-plus" name="produto" disabled>
                            <i class='fa fa-plus'></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts3 %}
    {{ parent() }}
    <script src="{{ asset('assets/js/swal/sweetalert2.all.min.js') }}"></script>
    <script>

        (function () {

            const model = {
                produtos: [],
                selectIdCounter: 1,
                containerRemover: 1,
                observacao: '',
                ultimaRequisicao: '',
                quantIdCounter: 1,
                quantChecker: [],
                arrIdsExcedeuLimit: [],
                liberado: true,
                cursoDaRequisicao: '',
                nomeCursoDaRequisicao: '',
                nroCursos: {{ quantidadeDeCursos }}
            };

            const controller = {

                init() {
                    // this.imprimeModel();
                    this.onPageLoad();
                    this.buscarProdutos();
                    view.init();
                },

                setValorModel(nome, valor) {
                    model[nome] = valor;
                },

                pushProduto(produto) {
                    model.produtos.push(produto);
                },

                onPageLoad() {
                    if (model.nroCursos < 1) {
                        controller.swalUsuarioSemCursos();
                        throw new Error("usuário sem permissão");
                    } else {
                        this.manageCursosSolicitante();
                    }
                },

                swalInserirProdutosError() {
                    Swal.fire({
                        html: '<span id="span-h" class="errorInsertSpan">Para continuar selecione uma opção ou remova as não desejadas.</span>',
                        title: '<strong>Oops, parece que você ainda tem opções por selecionar.</strong>',
                        width: '70em',
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showCloseButton: false,
                        focusConfirm: true,
                        reverseButtons: true,
                        cancelButtonText: 'Cancelar <i class="fa fa-times"></i>',
                        confirmButtonText: 'Confirmar <i class="fa fa-check"></i>',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    })
                },

                swalUsuarioSemCursos() {
                    Swal.fire({
                        html: '<span id="span-h"></span>',
                        onOpen() {
                            $('#span-h').parent().parent().siblings(".swal2-actions").find(".swal2-confirm.swal2-styled").prop('disabled', true);
                            controller.buscarCursosSolicitante();
                        },
                        title: '<strong>Usuário sem permissão de acesso!</strong>',
                        width: '70em',
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showCloseButton: false,
                        focusConfirm: true,
                        reverseButtons: true,
                        cancelButtonText: 'Cancelar <i class="fa fa-times"></i>',
                        confirmButtonText: 'Confirmar <i class="fa fa-check"></i>',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    })
                },

                swalMultiplosCursos() {
                    Swal.fire({
                        html: '<select class="form-control form-control-sm" id="select-cursos" name="select-produto"></select>',
                        onOpen() {
                            $('#select-cursos').parent().parent().siblings(".swal2-actions").find(".swal2-confirm.swal2-styled").prop('disabled', true);
                            controller.buscarCursosSolicitante();
                        },
                        title: '<strong>Escolha um curso para este pedido</strong>',
                        width: '70em',
                        allowOutsideClick: false,
                        showCancelButton: true,
                        // showCloseButton: true,
                        focusConfirm: true,
                        reverseButtons: true,
                        cancelButtonText: '<i class="fa fa-home"></i> Retornar',
                        confirmButtonText: 'Confirmar <i class="fa fa-check"></i>',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {
                        if (result.value === true) {
                            let idCurso = $( "#select-cursos option:selected" ).val();
                            let nomeCurso = $( "#select-cursos option:selected" ).text();
                            controller.setValorModel('cursoDaRequisicao', idCurso);
                            controller.setValorModel('nomeCursoDaRequisicao', nomeCurso);
                            this.updateNomeCursoHeader();
                        } else {
                            window.location.href = '/';
                        }
                    });
                },

                buscarCursosSolicitante() {
                    $.ajax({
                        url: "{{ path('almox_busca_cursos_solicitante') }}",
                        dataType: 'json',
                        method: "POST",
                        data: {
                            idSolicitante: {{ idSolicitante }}
                        },
                        success: function (cursos) {
                            let dataUtil = JSON.parse(cursos);
                            view.inicializarSelectMultiplosCursos(dataUtil);
                        },
                        error: function (data) {
                        },
                    })
                },

                manageCursosSolicitante() {
                    let numCursos = parseInt(document.querySelector('#main-data-container').dataset.multiplosc);

                    if (numCursos > 1) {
                        this.swalMultiplosCursos();
                        $('#alterar-curso').removeClass("hidden");
                    } else {
                        {% if unicoCurso is defined %}
                            this.setValorModel('cursoDaRequisicao', {{ unicoCurso.idCurso }});
                            this.setValorModel('nomeCursoDaRequisicao', '{{ unicoCurso.nomeCurso }}');
                            this.updateNomeCursoHeader();
                        {% endif %}
                    }
                },

                updateNomeCursoHeader() {
                    $('#header-nome-curso').text(model.nomeCursoDaRequisicao);
                },

                updateProdutoValor(target) {
                    let selectedProdutoValorRs;

                    if (target.name === 'select-produto') {
                        let selectedProdutoValor = $(target).find(':selected').attr('data-valor');
                        selectedProdutoValorRs = 'R$ ' + selectedProdutoValor;

                        let splitChar = '.';
                        let splitValor = selectedProdutoValorRs.split(splitChar, 2);

                        if (splitValor.length > 1) {
                            if (splitValor[1].length === 1) {
                                let formatDecimal = splitValor[1] + '0';
                                selectedProdutoValorRs = splitValor[0] + splitChar + formatDecimal;
                            }
                        }

                        if (splitValor.length === 1) {
                            selectedProdutoValorRs = 'R$ ' + selectedProdutoValor + '.00';
                        }

                        $(target).parent().parent().find('.subcontainer-valor > input').val(selectedProdutoValorRs);
                    }
                },

                buscarProdutos() {
                    $.ajax({
                        url: "{{ path('almox_lista_produtos') }}",
                        dataType: 'json',
                        method: "POST",
                        data: {},
                        success: function (data) {
                            let dataUtil = JSON.parse(data);
                            view.inicializarSelectProdutos(dataUtil);
                        },
                        error: function (data) {

                        },
                    })
                },

                getProdutosData() {
                    let containerProduto = document.querySelector('.product-subcontainer');
                    let children = containerProduto.children;

                    for (let i = 0; i < children.length; i++) {
                        let itemId = $(children[i]).find('select').val();
                        let preco = $(children[i]).find('input').val();
                        let quantidade = $(children[i]).find('.subcontainer-quantidade > input').val();
                        let replacedPreco = preco.replace("R$", "");
                        let produtoObj = {'idItem': itemId, 'preco': replacedPreco, 'quantidade': quantidade};
                        this.pushProduto(produtoObj)
                    }
                },

                inserirProdutos() {
                    this.getProdutosData();
                    $.ajax({
                        url: "{{ path('almox_persiste_requisicao') }}",
                        dataType: 'json',
                        method: "POST",
                        data: {
                            produtos: model.produtos,
                            observacao: model.observacao,
                            curso: model.cursoDaRequisicao
                        },
                        success: function (data) {
                            controller.setValorModel('ultimaRequisicao', data);
                            controller.launchSwalProdutos();
                        },
                        error: function (data) {
                            controller.swalInserirProdutosError();
                        }
                    })
                },

                launchSwalObservacao() {
                    Swal.fire({
                        title: '<strong>Registre uma observação:</strong>',
                        width: '100em',
                        html:
                            '<textarea rows="15" id="swal-observacao-textarea"> </textarea>',
                        onOpen() {
                            let textArea = $('#swal-observacao-textarea');
                            $(textArea).text(model.observacao);
                        },
                        showCancelButton: true,
                        showCloseButton: false,
                        allowOutsideClick: false,
                        focusConfirm: false,
                        reverseButtons: true,
                        cancelButtonText:
                            'Cancelar <i class="fa fa-times"></i>',
                        cancelButtonAriaLabel: 'Thumbs down',
                        confirmButtonText:
                            'Registrar <i class="fa fa-check"></i>',
                        confirmButtonAriaLabel: 'Thumbs up, great!',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {

                        if (result.value) {
                            let textareaSwal = document.querySelector('#swal-observacao-textarea');
                            let observacao = textareaSwal.value;
                            this.setValorModel('observacao', observacao);
                        } else {
                            this.setValorModel('observacao', null);
                        }
                    });
                },

                launchSwalProdutos() {

                    Swal.fire({
                        title: 'Confirmar lista de produtos?',
                        width: '60em',
                        showCancelButton: true,
                        reverseButtons: true,
                        allowOutsideClick: false,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Confirmar <i class="fa fa-check"></i>',
                        cancelButtonText: 'Cancelar <i class="fa fa-times"></i>'
                    }).then((result) => {
                        if (result.value) {
                            window.location.href = 'lista-pedidos-curso';
                        } else {
                            this.removerUltimaRequisicao();
                        }
                    })
                },

                removerUltimaRequisicao() {
                    $.ajax({
                        url: "{{ path('almox_remover_ultimo_pedido') }}",
                        dataType: 'json',
                        method: "POST",
                        data: {
                            requisicao: model.ultimaRequisicao
                        },
                        success: function (data) {
                        },
                        error: function (data) {
                        }
                    })
                },

                adicionarProduto() {
                    let clone = $('#clone-container').clone();
                    $(clone).find('select').attr("id", "select-" + model.selectIdCounter);
                    $(clone).find('.subcontainer-btn-x').attr("id", "remover-" + model.containerRemover);
                    $(clone).find('.subcontainer-quantidade > input').val(1);

                    let clonedPrice = $(clone).find(':selected').attr('data-valor');
                    let selectedProdutoValor = $(clone).find('select').find(':selected').attr('data-valor');
                    let selectedProdutoValorRs = 'R$ ' + selectedProdutoValor;
                    $(clone).find('.subcontainer-valor > input').val('R$ ');
                    $(clone).find('.subcontainer-quantidade').find('input').attr('id', 'quant-' + model.quantIdCounter);
                    $(clone).find('.subcontainer-quantidade').find('input').css("background-color", "#FFFFFF");

                    $('.product-subcontainer').append(clone);
                    $(clone).find('.subcontainer-remove-row > button').prop("disabled", false);
                    controller.setValorModel('selectIdCounter', model.selectIdCounter + 1);
                    controller.setValorModel('containerRemover', model.containerRemover + 1);
                    controller.setValorModel('quantIdCounter', model.quantIdCounter + 1);
                },

                removerRow() {
                    $('body').on('click', '.btn-danger', function () {
                        let trashBtn = this;
                        $(trashBtn).parent().parent().remove();
                    })
                },

                fixFirstTimeUi() {
                    //before fix
                    // let firstInputValue = $('.subcontainer-produto').find(':selected').attr('data-valor');
                    // let firstPriceInput = $('.subcontainer-valor > input');
                    // let firstInputValueRs = 'R$ ' + firstInputValue;
                    // $('.subcontainer-quantidade > input').val(1);
                    // $(firstPriceInput).val(firstInputValueRs);
                    // $('.subcontainer-remove-row > button').prop("disabled", true);

                    let firstInputValue = $('.subcontainer-produto').find(':selected').attr('data-valor');
                    let firstPriceInput = $('.subcontainer-valor > input');
                    let firstInputValueRs = 'R$ ';
                    $('.subcontainer-quantidade > input').val(1);
                    $(firstPriceInput).val(firstInputValueRs);
                    $('.subcontainer-remove-row > button').prop("disabled", true);


                    //habilita buttons
                    $('#btn-check').prop("disabled", false);
                    $('#btn-plus').prop("disabled", false);
                },

                fireSwalMaxQuant(inputIdentifier, quantidade) {
                    Swal.fire({
                        icon: 'error',
                        width: '100em',
                        title:'<strong>Limite máximo excedido no campo quantidade</strong>',
                        text: 'Por favor insira uma quantidade menor que 9999',
                    }).then(() => {
                            model.arrIdsExcedeuLimit.forEach(id => {
                                $("#" + id).css("background-color", "#ef9a9a");
                            });
                    });
                },

                fireSwalNumerosInteiros(inputIdentifier, quantidade) {
                    Swal.fire({
                        icon: 'error',
                        width: '100em',
                        title:'<strong>Caracteres inválidos</strong>',
                        text: 'Por favor insira apenas números inteiros positivos',
                    }).then(() => {
                        model.arrIdsExcedeuLimit.forEach(id => {
                            $("#" + id).css("background-color", "#ef9a9a");
                        });
                    });
                },

                validarQuantidade() {
                    model.quantChecker.forEach(item => {

                        if (item.quantidade > 9999) {
                           controller.setValorModel('liberado', false);
                           controller.fireSwalMaxQuant(item.id, item.quantidade);
                           controller.pushIntoArrayQuantidadeExcedida(item.id);
                           controller.setValorModel('liberado', false);
                        }

                        let isValid = this.isNormalInteger(item.quantidade);

                        if (isValid !== true) {
                            controller.setValorModel('liberado', false);
                            controller.fireSwalNumerosInteiros(item.id, item.quantidade);
                            controller.pushIntoArrayQuantidadeExcedida(item.id);
                            controller.setValorModel('liberado', false);
                        }

                    });

                    if (model.liberado === true) {
                        controller.inserirProdutos();
                    }

                },

                isNormalInteger(str) {
                    let n = Math.floor(Number(str));
                    return n !== Infinity && String(n) === str && n >= 0;
                },

                imprimeModel() {
                    console.table(model);
                },

                pushIntoArrayQuantidadeExcedida(item) {
                    model.arrIdsExcedeuLimit.push(item);
                },

                pushQuantChecker(item) {
                    model.quantChecker.push(item);
                },
            };

            const view = {

                init() {
                    this.inicializarReferenciaHtml();
                    this.inicializarEventListeners();
                },

                inicializarSelectMultiplosCursos(listaCursos) {
                    let selectInnerHTML = '';
                    selectInnerHTML = listaCursos.reduce((acc, opt) => {
                        return acc += `<option ${false} value='${opt.id}'> ${opt.nome} </option>`;
                    }, selectInnerHTML);
                    document.querySelector('#select-cursos').innerHTML = selectInnerHTML;
                    $('#select-cursos').parent().parent().siblings(".swal2-actions").find(".swal2-confirm.swal2-styled").prop('disabled', false);
                },

                inicializarSelectProdutos(listaProdutos) {
                    let selectInnerHTML = '';

                    selectInnerHTML = listaProdutos.reduce((acc, opt) => {
                        return acc += `<option ${false} value='${opt.idItem}' data-valor='${opt.valor}'> ${opt.nome} </option>`;
                    }, selectInnerHTML);

                    view.produtosSelect.innerHTML = selectInnerHTML;

                    //prepend qfix
                    $("#select-0").prepend("<option value='' selected='selected' disabled>SELECIONE O ITEM NA LISTA ABAIXO</option>");


                    controller.fixFirstTimeUi();

                },

                inicializarReferenciaHtml() {
                    this.addProdutoBtn = document.querySelector('#btn-plus');
                    this.checkBtn = document.querySelector('#btn-check');
                    this.produtosSelect = document.querySelector('#select-0');
                    this.produtoContainer = document.querySelector('.product-subcontainer');
                    // this.printModelBtn = document.querySelector('#print-model');
                    this.observacaoBtn = document.querySelector('#swal');
                    this.alterarCursoBtn = document.querySelector('#alterar-curso');
                    this.headerSpanNomeCurso = document.querySelector('#header-nome-curso');
                },

                inicializarEventListeners() {

                    // this.printModelBtn.addEventListener('click', evt => {
                    //     controller.imprimeModel();
                    // });

                    this.alterarCursoBtn.addEventListener('click', evt => {
                        controller.swalMultiplosCursos();
                    });

                    this.observacaoBtn.addEventListener('click', evt => {
                        controller.launchSwalObservacao();
                        // controller.imprimeModel();
                    });

                    this.checkBtn.addEventListener('click', evt => {
                        model.produtos = [];
                        model.quantChecker = [];
                        controller.setValorModel('liberado', true);

                        this.containersQuant = document.querySelectorAll('.subcontainer-quantidade');

                        this.containersQuant.forEach(container => {
                           let input = $(container).find('input');
                           let quantidade = input.val();
                           let inputIdentifier = $(input).attr('id');
                           let quantObj = {'id': inputIdentifier, 'quantidade': quantidade};
                           controller.pushQuantChecker(quantObj);
                        });

                        controller.validarQuantidade();
                        // controller.inserirProdutos();
                    });

                    this.addProdutoBtn.addEventListener('click', evt => {
                        controller.adicionarProduto();
                    });

                    this.produtoContainer.addEventListener('change', evt => {
                        controller.updateProdutoValor(evt.target);
                    });

                    controller.removerRow();
                },
            };
            controller.init();
        }());


    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/js/swal/sweetalert2.min.css') }}" rel="stylesheet" type="text/css">
    <style>

        .errorInsertSpan {
            font-size: 1.1em;
        }

        #select-cursos {
            width: 70%;
            margin: 0 auto;
        }

        .swal2-confirm {
            min-width: 10em;
            justify-content: center;
        }

        .swal2-cancel {
            min-width: 10em;
        }

        div.modal-header {
            text-align: center;
        }

        .label-trash {
            visibility: hidden;
        }

        .modal-body {
            font-size: 1.5em;
            text-align: center;
        }

        .modal-header {
            border-bottom: 0 none;
        }

        .modal-footer {
            border-top: 0 none;
        }

        input.form-control {
            text-align: center;
        }

        #container-btn-pos {
            margin-left: auto;
        }

        #btn-plus {
            margin-right: 3px;
        }

        .panel-body {
            border-radius: 0;
        }

        .container-requisitar {
            flex-grow: 2;
            width: 90%;
            margin: 0 auto;
        }

        .panel-heading {
            font-size: 1.1em;
            font-weight: bold;
        }

        .btn-sizing {
            min-width: 34px;
            float: right;
        }

        .fullwidth {
            width: 100%;
        }

        .subcontainer-produto {
            display: block;
            flex-grow: 2;
        }

        .subcontainer-second {
            margin-left: 1em;
            flex-grow: 1;
        }

        .subcontainer-quantidade {
            margin-left: 1em;
            flex-grow: 1;
        }

        .subcontainer-remove-row {
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
        }

        .subcontainer-valor {
            margin-left: 1em;
            flex-grow: 1;
        }

        .container-selects {
            display: flex;
            justify-content: flex-start;
        }

        .btn-sizing-trash {
            max-width: 50%;
        }

        .obs-btn {
            margin-bottom: 1em;
        }

        textarea {
            resize: none;
            width: 85%;
            border-radius: 4px;
            font-size: 15px;
        }

    </style>

{% endblock %}