{% extends 'base.admin.html.twig' %}
{% block titulo %}{% endblock %}
{% block breadcumbsTitulo %}{% endblock %}
{% block conteudo %}

<div class="flex-container">

        <div class="col-md-12 col-lg-6 col-xl-6">
            <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-6">
            <div id="container-lolipop" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
        </div>
</div>






{% endblock %}

{% block javascripts3 %}
    {{ parent() }}
    <script src="{{ asset('assets/js/HighCharts/highcharts.js') }}"></script>
    <script src="{{ asset('assets/js/HighCharts/highcharts-more.js') }}"></script>
    <script src="{{ asset('assets/js/HighCharts/modules/dumbbell.js') }}"></script>
    <script src="{{ asset('assets/js/HighCharts/modules/lollipop.js') }}"></script>
    <script src="{{ asset('assets/js/HighCharts/css/highcharts.css') }}"></script>
    <script>

        (function () {

            const model = {};

            const controller = {

                init() {
                    this.pie();
                    this.lolipop();
                    this.onPageStart();
                    view.init();
                },

                onPageStart() {
                  $('.highcharts-credits').hide();
                  this.imprimeModel();
                },

                setValorModel(nome, valor) {
                    model[nome] = valor;
                },

                imprimeModel() {
                    console.table(model);
                },

                lolipop() {
                    Highcharts.chart('container-lolipop', {

                        chart: {
                            type: 'lollipop'
                        },

                        legend: {
                            enabled: false
                        },

                        subtitle: {
                            text: '2018'
                        },

                        title: {
                            text: 'Top 10 Countries by Population'
                        },

                        tooltip: {
                            shared: true
                        },

                        xAxis: {
                            type: 'category'
                        },

                        yAxis: {
                            title: {
                                text: 'Gasto Mensal'
                            }
                        },

                        series: [{
                            name: 'Population',
                            data: [{
                                name: 'China',
                                low: 1427647786,
                            }, {
                                name: 'India',
                                low: 1352642280
                            }, {
                                name: 'United States',
                                low: 327096265
                            }, {
                                name: 'Indonesia',
                                low: 267670543
                            }, {
                                name: 'Pakistan',
                                low: 212228286
                            }, {
                                name: 'Brazil',
                                low: 209469323
                            }, {
                                name: 'Nigeria',
                                low: 195874683
                            }, {
                                name: 'Bangladesh',
                                low: 161376708
                            }, {
                                name: 'Russia',
                                low: 145734038
                            }, {
                                name: 'Mexico',
                                low: 126190788
                            }, {
                                name: 'Mexio',
                                low: 126190781
                            }, {
                                name: 'Mexic',
                                low: 126110788
                            }]
                        }]

                    });






                },

                pie() {
                    Highcharts.chart('container', {
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            type: 'pie'
                        },
                        title: {
                            text: 'Pedidos realizados em 2019'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>  <br> Quantidade:  {point.p}',


                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: false
                                },
                                showInLegend: true
                            }
                        },
                        series: [{
                            name: 'Porcentagem',
                            colorByPoint: true,
                            data: {{ cursosPie|json_encode|raw }},
                            {#[#}
                                {#{% for curso in cursosPie %}#}
                                    {#{#}
                                        {#name: '{{ curso.name }}',#}
                                        {#y: {{ curso.y }}#}
                                    {#},#}
                                {#{% endfor %}#}
                            {#]#}
                        }]
                    });
                }


            };

            const view = {

                init() {
                    this.inicializarReferenciaHtml();
                    this.inicializarEventListeners();
                },

                inicializarReferenciaHtml() {
                },

                inicializarEventListeners() {

                },

            };
            controller.init();
        }());


    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .flex-container {
            display: flex;
        }


    </style>
{% endblock %}