{% extends 'base.admin.html.twig' %}
{% block titulo %}{% endblock %}
{% block breadcumbsTitulo %} {% endblock %}
{% block conteudo %}

    <div class="container-top-btns">
        <button type="button" class="btn btn-primary" id="btn-voltar">
            <i class='fa fa-arrow-left'></i>
            Voltar
        </button>
        <button type="button" class="btn btn-primary" id="observacao-da-adm" data-obs="{{ observacao }}">
            Observação da Administração
            <i class='fa fa-commenting'></i>
        </button>
        <button type="button" class="btn btn-primary" id="observacao-solicitante" data-obs="{{ observacao }}">
            Observação do Solicitante
            <i class='fa fa-commenting'></i>
        </button>
    </div>

    <div class="panel panel-primary panel-size">
        <div class="panel-heading">
            <span> <i class='fa fa-gears'></i> Detalhes do Pedido {{ pedidoId }} </span>
        </div>
        <div class="panel-body">
            <input class="form-control" id="myInput" type="text" placeholder="Digite aqui o que você procura..">
            <br>
            <table class="table table-striped" id="table-produtos">
                <thead>
                <tr>
                    <th>Número do Item</th>
                    <th>Item</th>
                    <th>Quantidade</th>
                    <th>Valor Unitário</th>
                    <th>Valor Total</th>
                    <th>Situação</th>
                    <th>Motivo da Rejeição</th>
                </tr>
                </thead>
                <tbody id="tabela-pedidos">
                    {% for i in itens %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ i.produtoNome }}</td>
                            <td>{{ i.quantidade }}</td>
                            <td>R$ {{ i.valorUnitario }}</td>
                            <td>R$ {{ i.valorTotal }}</td>
                            <td>
                                {% if i.avaliacao == 1 %}
                                    <div class="btn situ-style-aprovado btn-sm situacao-btn-size btn-min-height no-click">Aprovado</div>
                                {% elseif i.avaliacao == 2 %}
                                    <div class="btn situ-style-rejeitado btn-sm situacao-btn-size btn-min-height no-click">Produto Rejeitado</div>
                                {% elseif i.avaliacao == 3 %}
                                    <div class="btn btn-warning btn-sm situacao-btn-size btn-min-height no-click">Pendente</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if i.avaliacao == 2 %}
                                    <button class="btn btn-primary btn-sm btn-ver-motivo" data-motivo="{{ i.motivo }}">Ver Motivo</button>
                                {% else %}
                                    <button class="btn btn-primary btn-sm btn-hidden">Hidden</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts3 %}
    {{ parent() }}
    <script src="{{ asset('assets/js/swal/sweetalert2.min.js') }}" charset="UTF-8"></script>
    <script>

        (function () {

            const model = {
                observacaoSolicitante: '{{ observacao }}',
                observacaoAdm: '{{ observacaoAdm }}',
                requisicao: {{ pedidoId }},
            };

            const controller = {

                init() {
                    this.imprimeModel();
                    this.tableSearch();
                    view.init();
                },

                setValorModel(nome, valor) {
                    model[nome] = valor;
                },

                imprimeModel() {
                    console.log(model);
                },

                voltarPagina() {
                    window.location.href = "/lista-pedidos-curso";
                },

                verSwalMotivoSolicitante(motivo) {
                    Swal.fire({
                        html:
                            '<textarea id="swal-motivo-textarea" disabled></textarea>',
                        onOpen() {
                            $('#swal-motivo-textarea').val(motivo);
                        },
                        title: '<strong>Motivo</strong>',
                        width: '100em',
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showCloseButton: false,
                        focusConfirm: true,
                        reverseButtons: true,
                        cancelButtonText:
                            ' Contatar  <i class="fa fa-commenting"></i>',
                        cancelButtonAriaLabel: 'Thumbs down',
                        confirmButtonText:
                            'Ok <i class="fa fa-check"></i>',
                        confirmButtonAriaLabel: 'Thumbs up, great!',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#f0ad4e',
                    })
                },

                tableSearch() {
                    $("#myInput").on("keyup", function () {
                        let value = $(this).val().toLowerCase();
                        $("#tabela-pedidos tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                },

                swalObservacaoSolicitante() {
                    Swal.fire({
                        html:
                            '<textarea rows=10 id="swal-textarea-obs-solicitante"></textarea>',
                        onOpen() {
                            let textArea = $('#swal-textarea-obs-solicitante');
                            $(textArea).text(model.observacaoSolicitante);
                        },
                        title: '<strong>Observação do Solicitante</strong>',
                        width: '70em',
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showCloseButton: false,
                        focusConfirm: true,
                        reverseButtons: true,
                        cancelButtonText: 'Cancelar <i class="fa fa-times"></i>',
                        confirmButtonText: 'Ok!',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {
                        if (result.value === true) {
                            let observacaoSolicitante = $('#swal-textarea-obs-solicitante').val();
                            this.setValorModel('observacaoSolicitante', observacaoSolicitante);
                            controller.persistSolicitacaoSolicitante();
                        }
                    });
                },

                persistSolicitacaoSolicitante() {
                    $.ajax({
                        url: "{{ path('almox_persist_obs_solicitante') }}",
                        dataType: 'json',
                        method: "POST",
                        data: {
                            observacao: model.observacaoSolicitante,
                            requisicao: {{ pedidoId }}
                        },
                        success: function (data) {},
                        error: function (data) {},
                    })
                },

                swalObservacaoAdm() {
                    Swal.fire({
                        html:
                            '<textarea rows=10 id="swal-textarea-observacao-adm" disabled></textarea>',
                        onOpen() {
                            let textArea = $('#swal-textarea-observacao-adm');
                            $(textArea).text(model.observacaoAdm);
                        },
                        title: '<strong>Observação da Administração</strong>',
                        width: '70em',
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showCloseButton: false,
                        focusConfirm: true,
                        reverseButtons: true,
                        cancelButtonText: 'Cancelar <i class="fa fa-times"></i>',
                        confirmButtonText: 'Ok!',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {
                        if (result.value === true) {
                        }
                    });
                },

            };

            const view = {

                init() {
                    this.inicializarReferenciaHtml();
                    this.inicializarEventListeners();
                },

                inicializarReferenciaHtml() {
                    this.btnObservacaoAdm = document.querySelector('#observacao-da-adm');
                    this.btnObservacaoSolcitante = document.querySelector('#observacao-solicitante');
                    this.motivoBtn = document.querySelectorAll('.btn-ver-motivo');
                    this.btnVoltar = document.querySelector('#btn-voltar');
                },

                inicializarEventListeners() {
                    this.motivoBtn.forEach(evt => {
                        evt.addEventListener('click', evt => {
                            let el = evt.target;
                            let motivo = el.getAttribute("data-motivo");
                            controller.verSwalMotivoSolicitante(motivo);
                        });
                    });

                    this.btnVoltar.addEventListener('click', evt => {
                        controller.voltarPagina();
                    });

                    this.btnObservacaoAdm.addEventListener('click', evt => {
                        controller.swalObservacaoAdm();
                    });

                    this.btnObservacaoSolcitante.addEventListener('click', evt => {
                        controller.swalObservacaoSolicitante();
                    });



                },
            };
            controller.init();
        }());


    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/js/swal/sweetalert2.min.css') }}" rel="stylesheet" type="text/css">
    <style>

        .motivo-btn {
            width: 8em;
        }

        .situ-style-aprovado {
            background-color: #28a745;
            color: #ffffff;
        }

        .situ-style-rejeitado {
            background-color: #dc3545;
            color: #ffffff;
        }

        .situ-style-pendente {
            background-color: #ffac07;
            color: #ffffff;
        }

        .situ-style-parcial-aprovado {
            background-color: #71dda5;
            color: #ffffff;
        }

        .no-click {
            pointer-events: none;
        }

        .situacao-btn-size {
            min-width: 16em;
            cursor: default !important;
        }

        .btn-min-height {
            min-height: 2.5em;
        }

        .btn-min-height {
            min-height: 2.5em;
        }

        .btn-hidden {
            visibility: hidden;
        }

        .swal2-confirm {
            width: 12em;
        }

        .swal2-cancel {
            width: 12em;
        }

        .fa.fa-cog.fa-lg {
            cursor: pointer;
        }

        .container-top-btns {
            margin-bottom: 1em;
        }

        .container-top-btns button {
            min-width: 10em;
        }

        thead tr th {
            text-align: center;
        }

        tbody tr td {
            text-align: center;
        }

        .panel-heading > span {
            font-size: 1.25em;
        }

        tr > th {
            cursor: default;
        }

        tr td {
            cursor: default;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 24px;
        }

        .switch input {
            display: none;
        }

        textarea {
            text-align: center;
            resize: none;
            width: 75%;
            border-radius: 4px;
            font-size: 15px;
        }



    </style>
{% endblock %}