{% extends 'base.admin.html.twig' %}
{% block titulo %}{% endblock %}
{% block breadcumbsTitulo %} {% endblock %}
{% block conteudo %}

    <!--suppress ALL -->
    <div class="container-top-btns">
        <button type="button" class="btn btn-primary" id="btn-voltar">
            <i class='fa fa-arrow-left'></i>
            Voltar
        </button>
        <button type="button" class="btn btn-primary" id="obs-solicitante" data-obs="{{ observacao }}">
            Observação do Solicitante
            <i class='fa fa-commenting'></i>
        </button>
        <button type="button" class="btn btn-primary" id="obs-adm" data-obs="{{ observacao }}">
            Observação da Administração
            <i class='fa fa-commenting'></i>
        </button>
        <button type="button" class="btn btn-primary" id="requisicao-sie">
           Requisição Sie
            <i class='fa fa-clipboard'></i>
        </button>
        <button type="button" class="btn btn-success" id="avaliar-pedido" data-pedido-id="{{ pedidoId }}">
            Salvar
            <i class='fa fa-check'></i>
        </button>
        {#<button type="button" class="btn btn-success" id="imprime-model">#}
            {#IMPRIME MODEL#}
        {#</button>#}
    </div>

    <div class="panel panel-primary panel-size">
        <div class="panel-heading">
            <span> <i class='fa fa-gears'></i> Painel do Pedido: {{ pedidoId }} - Curso: {{ curso.nomeCurso }} - Solicitante: {{ solicitante.nome  }}</span>
        </div>
        <div class="panel-body">
            <input class="form-control" id="myInput" type="text" placeholder="Digite aqui o que você procura..">
            <br>
            <table class="table table-striped" id="table-produtos">
                <thead>
                <tr>
                    <th>Número do Item</th>
                    <th>Item</th>
                    <th>Quantidade</th>
                    <th>Valor Unitário</th>
                    <th>Valor Total</th>
                    <th>Situação do Item</th>
                    <th>Motivo da Rejeição</th>
                </tr>
                </thead>
                <tbody id="tabela-pedidos">
                {% for i in itens %}
                    <tr>
                        <td data-item-identifier="{{ i.id }}">{{ loop.index }}</td>
                        <td>{{ i.produtoNome }}</td>
                        <td>{{ i.quantidade }}</td>
                        <td>R$ {{ i.valorUnitario }}</td>
                        <td>R$ {{ i.valorTotal }}</td>
                        <td class="switch-cell">
                            <div class="switch-field">
                                <input type="radio" id="radio-r" name="switch-{{ loop.index }}" value="rejeitado" class="radiobuttons" />
                                <label for="radio-r" id="label-radio-r">Rejeitado</label>
                                <input type="radio" id="radio-p" name="switch-{{ loop.index }}" value="pendente" class="radiobuttons" />
                                <label for="radio-p" id="label-radio-p">Pendente</label>
                                <input type="radio" id="radio-a" name="switch-{{ loop.index }}" value="aprovado" class="radiobuttons" />
                                <label for="radio-a" id="label-radio-a">Aprovado</label>
                            </div>
                        </td>
                        <td class="ver-motivo-cell" data-motivo="{{ i.motivo }}">
                            {% if (i.motivo is not null) and (i.motivo|length >= 2) %}
                                <button type="button" class="btn btn-danger btn-sm motivo-btn-size ver-motivo">
                                    Ver Motivo
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-danger btn-sm motivo-btn-size ver-motivo hidden">
                                    Ver Motivo
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts3 %}
    {{ parent() }}
    <script src="{{ asset('assets/js/swal/sweetalert2.all.min.js') }}"></script>
    <script>

        (function () {
            const model = {
                pedido: '',
                itens: [],
                tempIdItem: '',
                tempNomeItem: '',
                tempSwitchValue: '',
                tempMotivo: '',
                situacaoItens: [],
                motivoSwal: '',
                temMotivoRejeicao: false,
                getMotivoRejeicaoTemp: '',
                requisicaoSie: '',
                observacaoSolicitante: '{{ observacao }}',
                observacaoAdm: '{{ observacaoAdm }}',

            };

            const controller = {

                init() {
                    this.onPageLoadManageUi();
                    this.tableSearch();
                    view.init();
                },

                setValorModel(nome, valor) {
                    model[nome] = valor;
                },

                imprimeModel() {
                    console.log(model);
                    // console.log(model.situacaoItens);
                },

                disableRejectOneBtn() {
                    $('#swal-reject-one-item').prop('disabled', true);
                },

                enableRejectOneBtn() {
                    $('#swal-reject-one-item').prop('disabled', false);
                },

                voltarPagina() {
                    window.location.href = "/lista-pedidos-adm";
                },

                verificaExistenciaCodigoRequisicaoSie() {
                    return $.ajax({
                        url: "{{ path('almox_verifica_existencia_codigo_requisicao_sie')}}",
                        dataType: 'json',
                        method: "POST",
                        data: {
                            requisicao: model.pedido[0]
                        },
                        success: function (data) {
                            let codigoRequisicaoSie = JSON.parse(data);
                            controller.setValorModel('requisicaoSie', codigoRequisicaoSie);
                        },
                        error: function (data) {},
                    })
                },

                swalRequisicaoSie() {

                        Swal.fire({
                            html:
                                '<textarea rows=10 id="swal-requisicao-sie"></textarea>',
                            onOpen() {
                                let textArea = $('#swal-requisicao-sie');
                                $(textArea).text(model.requisicaoSie);
                            },
                            title: '<strong>Código da Requisição SIE</strong>',
                            width: '70em',
                            allowOutsideClick: false,
                            showCancelButton: true,
                            showCloseButton: false,
                            focusConfirm: true,
                            reverseButtons: true,
                            cancelButtonText: 'Cancelar <i class="fa fa-times"></i>',
                            confirmButtonText: 'Ok!',
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                        }).then((result) => {
                            if (result.value === true) {
                                let reqSie = $('#swal-requisicao-sie').val();
                                console.log(reqSie);
                                this.setValorModel('requisicaoSie', reqSie);
                            }
                        });
                },

                getMotivoFromItensRejeitadosById(id) {
                    let itemId = parseInt(id);
                    let motivoRtn = '';

                    model.situacaoItens.forEach((item) => {
                        if (item.id == itemId) {
                            controller.setValorModel('getMotivoRejeicaoTemp', item.motivo);
                        }
                    });

                    return motivoRtn;
                },

                verMotivoRejeicao(evt) {

                    let element = $(evt.target);
                    let itemId = element[0].parentNode.parentNode.childNodes[1].dataset.itemIdentifier;
                    this.getMotivoFromItensRejeitadosById(itemId);

                    let checkBtnAvailable = $(evt.target).find('button');
                    if (!$(checkBtnAvailable).hasClass('hidden')) {
                        Swal.fire({
                            html:
                                '<textarea rows=10 id="swal-motivo-single-rejeicao-textarea"></textarea>',
                            onOpen() {
                                let textArea = $('#swal-motivo-single-rejeicao-textarea');
                                let observacao = $(element).parent().data();
                                $(textArea).text(observacao.motivo);

                            },
                            title: '<strong>Motivo da rejeição do item</strong>',
                            width: '100em',
                            allowOutsideClick: false,
                            showCancelButton: true,
                            showCloseButton: false,
                            focusConfirm: true,
                            reverseButtons: true,
                            cancelButtonText: 'Cancelar <i class="fa fa-times"></i>',
                            confirmButtonText: 'Ok!',
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                        }).then((result) => {

                            if (result.value === true) {
                                let motivo = $('#swal-motivo-single-rejeicao-textarea').val();
                                let lastTd = $("#tabela-pedidos").find("[data-item-identifier='" + itemId + "']").parent().children().last().data("motivo", motivo);

                            } else if (Object.values(result) == "cancel") {
                            }
                        });
                    }
                },

                manageMotivoBtnSelectPendentesAprovados(elemento) {
                  $(elemento).parent().parent().siblings(".ver-motivo-cell").find('button').addClass("hidden");
                },

                manageRadioSelection(evt) {

                    let elemento = evt.target;
                    let elementoId = evt.target.id;

                    if (elemento.id === 'radio-p' || elementoId === 'label-radio-p') {

                        const labelDoElemento = $(elemento).parent().find('#label-radio-p');
                        $(labelDoElemento).css("background-color", "#f0ad4e");
                        const labelSiblings = labelDoElemento.siblings('label');
                        const rejeitadoLabel = labelSiblings[0];
                        const aprovadoLabel = labelSiblings[1];

                        $(rejeitadoLabel).css("background-color", "#e4e4e4");
                        $(aprovadoLabel).css("background-color", "#e4e4e4");

                        this.manageMotivoBtnSelectPendentesAprovados(elemento);

                    } else if (elemento.id === 'radio-a' || elementoId === 'label-radio-a') {
                        const labelDoElemento = $(elemento).parent().find('#label-radio-a');
                        $(labelDoElemento).css("background-color", "#5cb85c");
                        const labelSiblings = labelDoElemento.siblings('label');
                        const rejeitadoLabel = labelSiblings[0];
                        const aprovadoLabel = labelSiblings[1];
                        $(rejeitadoLabel).css("background-color", "#e4e4e4");
                        $(aprovadoLabel).css("background-color", "#e4e4e4");

                        this.manageMotivoBtnSelectPendentesAprovados(elemento);
                    } else {
                        console.log('error: radio id not found');
                    }
                },

                manageItensRejeitados(evt) {
                    this.manageRadioSelection(evt);
                    let element = $(evt.target);

                    let checkBoxValue = element.context.innerText;

                    if (element[0].id === 'label-radio-a' ) {
                        let inputAprovado = $(element[0]).siblings("#radio-a");
                        $(inputAprovado).attr( "checked", true );
                        $(inputAprovado).prop( "checked", true );

                        let inputRejeitado = $(element[0]).siblings("#radio-r");
                        $(inputRejeitado).prop( "checked", false );
                        let inputPendente = $(element[0]).siblings("#radio-p");
                        $(inputPendente).prop( "checked", false );

                    }

                    else if (element[0].id === 'label-radio-p') {
                        let inputPendente = $(element[0]).siblings("#radio-p");
                        $(inputPendente).attr( "checked", true );
                        $(inputPendente).prop( "checked", true );

                        let inputAprovado = $(element[0]).siblings("#radio-a");
                        $(inputAprovado).prop( "checked", false );
                        let inputRejeitado = $(element[0]).siblings("#radio-r");
                        $(inputRejeitado).prop( "checked", false );
                    }

                    let itemId = evt.composedPath()[3].childNodes[1].dataset.itemIdentifier;
                    let siblingBtn = element[0].parentNode.parentNode.parentNode.childNodes[13].childNodes[1];

                    if (checkBoxValue === 'Rejeitado') {
                        this.swalRejectingOneItem(itemId, checkBoxValue, element, siblingBtn);
                    } else {

                        for (let i = 0; i < model.situacaoItens.length; i++) {

                            let itemIdParsed = parseInt(itemId);
                            if (itemIdParsed === model.situacaoItens[i].id) {
                                model.situacaoItens.splice(i, 1);
                            }
                        }
                    }
                },

                swalRejectingOneItem(itemId, checkBoxVal, element, siblingBtn) {

                    Swal.fire({
                        html:
                            '<textarea rows=10 id="swal-motivo-single-rejeicao-textarea"></textarea>',
                        onOpen() {
                            $('.swal2-confirm').attr('id', 'swal-reject-one-item');
                            $('.swal2-cancel').attr('id', 'swal-cancel-reject-one-item');
                            $('#swal-reject-one-item').prop('disabled', true);
                            $('#swal-cancel-reject-one-item').prop('title', 'Informe um motivo para rejeitar o pedido.');
                            let textArea = $('#swal-motivo-single-rejeicao-textarea');

                            textArea.on('keyup', function () {
                                if (this.value.length > 1) {
                                    controller.enableRejectOneBtn();
                                } else {
                                    controller.disableRejectOneBtn();
                                }
                            });
                        },
                        title: '<strong>Motivo da rejeição do item</strong>',
                        width: '100em',
                        allowOutsideClick: false,
                        showCancelButton: true,
                        showCloseButton: false,
                        focusConfirm: true,
                        reverseButtons: true,
                        cancelButtonText: 'Cancelar <i class="fa fa-times"></i>',
                        confirmButtonText: 'Confirmar <i class="fa fa-check"></i>',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {
                        if (result.value === true) {
                            let motivo = $('#swal-motivo-single-rejeicao-textarea').val();
                            let lastTd = $("#tabela-pedidos").find("[data-item-identifier='" + itemId + "']").parent().children().last().data("motivo", motivo);
                            let showBtn = $("#tabela-pedidos").find("[data-item-identifier='" + itemId + "']").parent().children().last().find('button').removeClass( "hidden" );
                            $motivoData = $(element).parent().parent().siblings('.ver-motivo-cel').attr('data-motivo', motivo);

                            if (element[0].id === 'label-radio-r') {
                                //check option
                                let inputRejeitado = $(element[0]).siblings("#radio-r");
                                $(inputRejeitado).attr( "checked", true );
                                $(inputRejeitado).prop( "checked", true );

                                let inputAprovado = $(element[0]).siblings("#radio-a");
                                $(inputAprovado).prop( "checked", false );
                                let inputPendente = $(element[0]).siblings("#radio-p");
                                $(inputPendente).prop( "checked", false );

                                //layout
                                const labelDoElemento = $(element).parent().find('#label-radio-r');
                                $(labelDoElemento).css("background-color", "#d9534f");
                                const labelSiblings = labelDoElemento.siblings('label');
                                const pendenteLabel = labelSiblings[0];
                                const aprovadoLabel = labelSiblings[1];
                                $(pendenteLabel).css("background-color", "#e4e4e4");
                                $(aprovadoLabel).css("background-color", "#e4e4e4");
                            }
                        }
                    });
                },

                notificaRejeitado() {
                    Swal.fire({
                        icon: 'error',
                        width: '60em',
                        title: "Item rejeitado!",
                        showConfirmButton: false,
                        timer: 1200
                    })
                },

                notificaAprovado() {
                    Swal.fire({
                        icon: 'success',
                        width: '60em',
                        title: "Item aprovado!",
                        showConfirmButton: false,
                        timer: 1200
                    })
                },

                notificaAvaliacaoEnviada() {
                    Swal.fire({
                        icon: 'success',
                        width: '60em',
                        title: "Avaliacão realizada com sucesso!",
                        showConfirmButton: false,
                        timer: 1700
                    }).then( () => {
                        window.location.href = "/lista-pedidos-adm";
                    });
                },

                persistirRequisicaoSie() {
                    $.ajax({
                        url: "{{ path('almox_persist_codigo_requisicao_sie') }}",
                        dataType: 'json',
                        method: "POST",
                        data: {
                            requisicaoSie: model.requisicaoSie,
                            requisicaoId: model.pedido[0]
                        },
                        success: function (data) {},
                        error: function (data) {},
                    })
                },

                buscaSituacaoDeUmItem(item) {
                    return $.ajax({
                        url: "{{ path('almox_motivo_rejeicao_um_item') }}",
                        dataType: 'json',
                        method: "POST",
                        data: {
                            item: item
                        },
                        success: function (data) {},
                        error: function (data) {},
                    })
                },

                buscaSituacaoItens() {
                    return $.ajax({
                        url: "{{ path('almox_verifica_situacao_itens') }}",
                        dataType: 'json',
                        method: "POST",
                        data: {
                            pedido: model.pedido[0],
                        },
                        success: function (data) {},
                        error: function (data) {},
                    })
                },

                //Seleciona opção de cada item persistida no front
                manageRadioBtnsConfig() {
                    this.buscaSituacaoItens().complete((f) => {
                        let situacoes = JSON.parse(f.responseJSON);
                        situacoes.forEach((item) => {
                            if (item.situacao === 1) {
                                let elem = $('#tabela-pedidos').find("[data-item-identifier='" + item.id + "']").siblings(".switch-cell").find('#label-radio-a').css("background-color", "#5cb85c");
                                //check
                                let radioEl = $('#tabela-pedidos').find("[data-item-identifier='" + item.id + "']").siblings(".switch-cell").find('#radio-a').prop('checked', true);
                                //push pro situacaoItens
                                let itemRejeitado = {'id': item.id, 'avaliacao': 1, 'motivo': item.motivo};
                                controller.pushItensRejeitados(itemRejeitado);
                            } else if (item.situacao === 2) {
                                let elem = $('#tabela-pedidos').find("[data-item-identifier='" + item.id + "']").siblings(".switch-cell").find('#label-radio-r').css("background-color", "#d9534f");

                                //check
                                let radioEl = $('#tabela-pedidos').find("[data-item-identifier='" + item.id + "']").siblings(".switch-cell").find('#radio-r').prop('checked', true);

                                //push pro situacaoItens
                                let itemRejeitado = {'id': item.id, 'avaliacao': 2, 'motivo': item.motivo};
                                controller.pushItensRejeitados(itemRejeitado);
                            } else if (item.situacao === 3) {
                                let elem = $('#tabela-pedidos').find("[data-item-identifier='" + item.id + "']").siblings(".switch-cell").find('#label-radio-p').css("background-color", "#f0ad4e");

                                //check
                                let radioEl = $('#tabela-pedidos').find("[data-item-identifier='" + item.id + "']").siblings(".switch-cell").find('#radio-p').prop('checked', true);

                                //push pro situacaoItens
                                let itemRejeitado = {'id': item.id, 'avaliacao': 3, 'motivo': item.motivo};
                                controller.pushItensRejeitados(itemRejeitado);
                            }
                        })
                    });
                },

                disableObservacaoBtn() {
                    $("#observacao").prop('title', 'Não há observações para este pedido.');
                    $("#observacao").prop('disabled', true);
                },

                updateItensModel() {

                    //acho que não ta indo porque as vezes não marca (label/radio) (duplicar checks click antes?!)

                    model.itens = [];

                    let tbody = $('#tabela-pedidos');
                    let children = tbody.children();

                    $(children).each(function () {
                        let row = this.children;
                        $(row).each(function (index) {
                            if (index === 0) {
                                let idItem = this.dataset.valueOf().itemIdentifier;
                                controller.setValorModel('tempIdItem', idItem);
                            } else if (index === 1) {
                                let nomeItem = this.innerText;
                                controller.setValorModel('tempNomeItem', nomeItem);
                            } else if (index === 5) {
                                let checkedInput = $(this.children[0]).find(":checked");

                                if (checkedInput[0])
                                {
                                    let checkBoxVal = checkedInput[0].value;
                                    controller.setValorModel('tempSwitchValue', checkBoxVal);
                                }

                            } else if (index === 6) {
                                let motivo = $(this).data();
                                controller.setValorModel('tempMotivo', motivo.motivo);
                            }
                        });

                        let item = {
                            'itemId': model.tempIdItem,
                            'itemNome': model.tempNomeItem,
                            'itemAval': model.tempSwitchValue,
                            'itemMotivo': model.tempMotivo
                        };

                        controller.pushItem(item);
                    });
                },

                pushItem(item) {
                    model.itens.push(item);
                },

                pushItensRejeitados(item) {
                    model.situacaoItens.push(item);
                },

                verObservacaoAdm() {
                    Swal.fire({
                        html:
                            '<textarea rows=10 id="swal-text-adm"></textarea>',
                        onOpen() {
                            let textArea = $('#swal-text-adm');
                            $(textArea).text(model.observacaoAdm);
                        },
                        title: '<strong>Observação da Administração</strong>',
                        width: '70em',
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showCloseButton: false,
                        focusConfirm: true,
                        reverseButtons: true,
                        cancelButtonText: 'Cancelar <i class="fa fa-times"></i>',
                        confirmButtonText: 'Ok!',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {
                        if (result.value === true) {
                            let observacaoAdm = $('#swal-text-adm').val();
                            this.setValorModel('observacaoAdm', observacaoAdm);
                            this.persistObservacaoAdm();
                        }
                    });
                },

                persistObservacaoAdm() {
                    $.ajax({
                        url: "{{ path('almox_persist_obs_administrativo') }}",
                        dataType: 'json',
                        method: "POST",
                        data: {
                            observacao: model.observacaoAdm,
                            requisicao: {{ pedidoId }}
                        },
                        success: function (data) {
                            console.log(data);
                        },
                        error: function (data) {},
                    })
                },

                verObservacaoSolicitante() {
                    Swal.fire({
                        html:
                            '<textarea rows=10 id="swal-textarea-obs-solicitante" disabled></textarea>',
                        onOpen() {
                            let textArea = $('#swal-textarea-obs-solicitante');
                            $(textArea).text(model.observacaoSolicitante);
                        },
                        title: '<strong>Observação do Solicitante</strong>',
                        width: '70em',
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showCloseButton: false,
                        focusConfirm: true,
                        reverseButtons: true,
                        cancelButtonText: 'Cancelar <i class="fa fa-times"></i>',
                        confirmButtonText: 'Ok!',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {
                        if (result.value === true) {

                        }
                    });
                },

                getPedidoId() {
                    let observacaoBtn = $('#avaliar-pedido');
                    let observacaoTxt = observacaoBtn.data();
                    return Object.values(observacaoTxt);
                },

                onPageLoadManageUi() {
                    this.setValorModel('pedido', controller.getPedidoId());
                    this.manageRadioBtnsConfig();
                    // this.checkIfObsExists();
                    this.updateItensModel();
                    this.verificaExistenciaCodigoRequisicaoSie();
                },

                avaliarPedido() {

                    Swal.fire({
                        title: '<strong>Confirmar avaliação do pedido?</strong>',
                        width: '100em',
                        allowOutsideClick: false,
                        showCancelButton: true,
                        showCloseButton: false,
                        focusConfirm: true,
                        reverseButtons: true,
                        cancelButtonText: 'Cancelar <i class="fa fa-times"></i>',
                        confirmButtonText: 'Confirmar <i class="fa fa-check"></i>',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {

                        if (result) {
                            this.updateItensModel();
                            this.persistirRequisicaoSie();

                            $.ajax({
                                url: "{{ path('almox_enviar_avaliacao') }}",
                                dataType: 'json',
                                method: "POST",
                                data: {
                                    requisicao: model.pedido[0],
                                    itens: model.itens
                                },
                                success: function (data) {
                                },
                                error: function (data) {
                                },
                            });
                            this.notificaAvaliacaoEnviada();
                        }
                    });
                },



                tableSearch() {
                    $("#myInput").on("keyup", function () {
                        let value = $(this).val().toLowerCase();
                        $("#tabela-pedidos tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                },
            };

            const view = {

                init() {
                    this.inicializarReferenciaHtml();
                    this.inicializarEventListeners();
                },

                inicializarReferenciaHtml() {
                    this.btnEnviarPedido = document.querySelector('#avaliar-pedido');
                    // this.btnImprime = document.querySelector('#imprime-model');
                    this.tBody = document.querySelector('#tabela-pedidos');
                    this.btnVerMotivoTd = document.querySelectorAll('.ver-motivo-cell');
                    this.radioBtnContainer = document.querySelectorAll('.switch-field');
                    this.btnVoltar = document.querySelector('#btn-voltar');
                    this.btnRequisicaoSie = document.querySelector('#requisicao-sie');
                    this.btnObservacaoSolcitante = document.querySelector('#obs-solicitante');
                    this.btnObservacaoAdm = document.querySelector('#obs-adm');
                },

                inicializarEventListeners: function () {

                    this.btnObservacaoAdm.addEventListener('click', evt => {
                        controller.verObservacaoAdm();
                    });

                    this.btnObservacaoSolcitante.addEventListener('click', evt => {
                        controller.verObservacaoSolicitante();
                    });

                    this.btnRequisicaoSie.addEventListener('click', evt => {
                        controller.swalRequisicaoSie();
                    });

                    this.btnVoltar.addEventListener('click', evt => {
                        controller.voltarPagina();
                    });

                    this.radioBtnContainer.forEach(el => {
                        el.addEventListener('click', evt => {
                            evt.stopPropagation();
                            evt.preventDefault();
                            controller.manageItensRejeitados(evt);
                        });
                    });

                    this.btnVerMotivoTd.forEach(evt => {
                        evt.addEventListener('click', evt => {
                            controller.verMotivoRejeicao(evt);
                        })
                    });

                    // this.btnImprime.addEventListener('click', evt => {
                    //     controller.imprimeModel();
                    // });

                    this.btnEnviarPedido.addEventListener('click', evt => {
                        controller.avaliarPedido();
                    });
                },
            };
            controller.init();
        }());


    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/js/swal/sweetalert2.min.css') }}" rel="stylesheet" type="text/css">
    <style>

        .switch-field {
            display: flex;
            justify-content: center;
            overflow: hidden;
        }

        .switch-field input {
            position: absolute !important;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            width: 1px;
            border: 0;
            overflow: hidden;
        }

        .switch-field label {
            background-color: #e4e4e4;
            color: rgba(0, 0, 0, 0.6);
            font-size: 1em;
            line-height: 1;
            text-align: center;
            padding: 8px 16px;
            margin-right: -1px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
            transition: all 0.1s ease-in-out;
        }

        .switch-field label:hover {
            cursor: pointer;
        }

        .aprovado {
            background-color: #5cb85c;
            box-shadow: none;
        }

        .rejeitado {
            background-color: #d9534f;
            box-shadow: none;
        }

        .pendente {
            background-color: #f0ad4e;
            box-shadow: none;
        }
        
        .container-top-btns button {
            min-width: 10em;
        }

        .switch-field label:first-of-type {
            border-radius: 4px 0 0 4px;
        }

        .switch-field label:last-of-type {
            border-radius: 0 4px 4px 0;
        }

        .motivo-btn-size {
            min-width: 8em;
        }

        .swal2-confirm {
            width: 12em;
        }

        .swal2-cancel {
            width: 12em;
        }

        .container-top-btns {
            margin-bottom: 1em;
        }

        thead tr th {
            text-align: center;
        }

        tbody tr td {
            text-align: center;
        }

        .panel-heading > span {
            font-size: 1.25em;
        }

        tr > th {
            cursor: default;
        }

        tr td {
            cursor: default;
        }

        textarea {
            text-align: center;
            resize: none;
            width: 75%;
            border-radius: 4px;
            font-size: 15px;
        }

    </style>
{% endblock %}