{% extends 'base.admin.html.twig' %}
{% block titulo %}{% endblock %}
{% block breadcumbsTitulo %} {% endblock %}
{% block conteudo %}

    <div class="col-md-12">
        <section class="panel panel-primary">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
                </div>

                <h2 class="panel-title">Title</h2>
            </header>
            <div class="panel-body">
                <button class="btn btn-primary" id="import-btn">Importar</button>
            </div>
        </section>
    </div>

    <h1>Adding a new product</h1>

    {{ form_start(form) }}
    {# ... #}

    {{ form_row(form.brochure) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts3 %}
    {{ parent() }}
    <script>

        (function () {

            const model = {
                produtos: [],
            };

            const controller = {

                init() {
                    view.init();
                },

                handleImportBtn() {
                    console.log('click');
                },

                setValorModel(nome, valor) {
                    model[nome] = valor;
                },

                imprimeModel() {
                    console.table(model);
                },
            };

            const view = {

                init() {
                    this.inicializarReferenciaHtml();
                    this.inicializarEventListeners();
                },

                inicializarReferenciaHtml() {
                    this.importBtn = document.querySelector('#import-btn');
                },

                inicializarEventListeners() {
                    $(document).on('click', '#import-btn', (e) => {
                        e.preventDefault();
                        controller.handleImportBtn();
                    })

                },
            };
            controller.init();
        }());


    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>




    </style>
{% endblock %}