{% extends 'base.admin.html.twig' %}
{% block titulo %}{% endblock %}
{% block breadcumbsTitulo %} {% endblock %}
{% block conteudo %}

  <div class="panel panel-primary panel-size">
        <div class="panel-heading">
            <span class="titulo-painel">Lista de Pedidos</span>
        </div>
    <div class="panel-body">
        <input class="form-control" id="myInput" type="text" placeholder="Digite aqui o que você procura..">
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Número do Pedido</th>
                <th>Data do Pedido</th>
                <th>Curso</th>
                <th>Solicitante</th>
                <th>Resumo do Pedido</th>
                <th>Status Avaliação</th>
                <th>Gerenciar Pedido</th>
            </tr>
            </thead>
            <tbody id="tabela-pedidos">
            {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.registrodatacriacao|date("d/m/Y")}}</td>
                    <td>
                    {% if pedido.curso.nomecurso is defined %}
                        {{ pedido.curso.nomecurso }}
                    {% endif %}
                    </td>
                    <td>
                        {% if pedido.idusuario.nome is defined %}
                            {{ pedido.idusuario.nome }}
                        {% endif %}
                    </td>
                        {% if pedido.itens|length > 1 %}
                            <td title="Este pedido possui múltiplos itens">
                                {% for item in pedido.itens %}
                                    {% if loop.index == 1 %}
                                        {{ item.produto.nome }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% else %}
                            <td>
                                {% for item in pedido.itens %}
                                    {% if loop.index == 1 %}
                                        {{ item.produto.nome }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endif %}
                    <td style="vertical-align: middle">
                        {% if pedido.statusAvaliacao == 1 %}
                            <div class="btn situ-style-aprovado btn-sm situacao-btn-size btn-min-height disabled-btn no-click">Aprovado</div>
                        {% elseif pedido.statusAvaliacao == 2 %}
                            <div class="btn situ-style-rejeitado btn-sm situacao-btn-size btn-min-height disabled-btn no-click">Rejeitado</div>
                        {% elseif pedido.statusAvaliacao == 3 %}
                            <div class="btn situ-style-pendente btn-sm situacao-btn-size btn-min-height disabled-btn no-click">Pendente</div>
                        {% elseif pedido.statusAvaliacao == 4 %}
                            <div class="btn situ-style-parcial-aprovado btn-sm situacao-btn-size btn-min-height disabled-btn no-click">Parcialmente Aprovado</div>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('detalhes_pedido', { 'pedido':  pedido.id  }) }}">
                            <button type="button" class="btn btn-primary btn-sm"> Acessar Painel </button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


<td></td>

{% endblock %}

{% block javascripts3 %}
    {{ parent() }}
    <script>

        (function () {

            const model = {

            };

            const controller = {

                init() {
                    this.tableSearch();
                    view.init();
                },

                setValorModel(nome, valor) {
                    model[nome] = valor;
                },

                imprimeModel() {
                    console.table(model);
                },

                tableSearch() {
                    $("#myInput").on("keyup", function() {
                        let value = $(this).val().toLowerCase();
                        $("#tabela-pedidos tr").filter(function() {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                },
            };

            const view = {

                init() {
                    this.inicializarReferenciaHtml();
                    this.inicializarEventListeners();
                },

                inicializarReferenciaHtml() {

                },

                inicializarEventListeners() {

                },
            };
            controller.init();
        }());


    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    .situ-style-aprovado {
        background-color: #28a745;
        color: #ffffff;
    }

    .situ-style-rejeitado {
        background-color: #dc3545;
        color: #ffffff;
    }

    .situ-style-pendente {
        background-color: #ffac07;
        color: #ffffff;
    }

    .situ-style-parcial-aprovado {
        background-color: #438463;
        color: #ffffff;
    }

    .no-click {
        pointer-events: none;
    }

    .situacao-btn-size {
        min-width: 16em;
        cursor: default !important;
    }

    .btn-min-height {
        min-height: 2.5em;
    }

    .titulo-painel {
        font-size: 1.25em;
    }

    thead tr th {
        text-align: center;
    }

     tbody tr td {
        text-align: center;
    }

    tr > th {
        cursor: default;
    }

    tr td {
        cursor: default;
    }



    </style>
{% endblock %}