{% set imgUser = app.user.img is defined and app.user.img  is not null ? app.user.img  : 'assets/img/default_user.png' %}
<!doctype html>
{% trans_default_domain 'FOSUserBundle' %}
<html class="fixed {% if app.request.cookies.get('sidebar-state') == 'true' %} sidebar-left-collapsed{% endif %}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NTE Almox {% block titulo %}{% endblock %}</title>

    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="NTE - UFSM">
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    {#% stylesheets filter="scssphp" output="css/app.css"
        "admin/assets/vendor/bootstrap/css/bootstrap.css"
        "admin/assets/vendor/font-awesome/css/font-awesome.css"
        "admin/assets/vendor/magnific-popup/magnific-popup.css"
        "admin/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css"
        "admin/assets/vendor/jquery-ui/jquery-ui.css"
        "admin/assets/vendor/jquery-ui/jquery-ui.theme.css"
        "admin/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css"
        "admin/assets/vendor/morris.js/morris.css"
        "admin/assets/stylesheets/theme.css"
        "admin/assets/vendor/select2/css/select2.css"
        "admin/assets/vendor/select2-bootstrap-theme/select2-bootstrap.css"
        "admin/assets/stylesheets/theme-custom.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %#}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/magnific-popup/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-ui/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-ui/jquery-ui.theme.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/morris.js/morris.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/select2/css/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/select2-bootstrap-theme/select2-bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/pnotify/pnotify.custom.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/select2/css/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/select2-bootstrap-theme/select2-bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/theme.admin.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/theme-custom.admin.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/jstree/themes/default/style.css') }}">
    {% endblock %}
    <script src="{{ asset('assets/vendor/modernizr/modernizr.js') }}"></script>
</head>
<body>

<section class="body">
    {% block cabecalho %}
        {% include '::topo.admin.html.twig' %}
    {% endblock %}
    <div class="inner-wrapper">
        {% block menu1 %}
            {% include '::menu.admin.html.twig' %}
        {% endblock %}
        <section role="main" class="content-body">
            {% block breadcumbs %}
                <header class="page-header">
                    <h2>{% block breadcumbsTitulo %}{% endblock %}</h2>
                    <div class="right-wrapper pull-right">
                        <ol class="breadcrumbs">
                            <li><a href="{{ path('nte_admin_painel_homepage') }}"><i class="fa fa-home"></i></a></li>
                            {% block breadcumbsItens %}
                                <li><span></span></li>{% endblock %}
                        </ol>
                        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                    </div>
                </header>
            {% endblock %}
            {% for label, messages in app.flashes(['success', 'danger']) %}
                {% for message in messages %}
                    <div class="row">
                        <div class="alert alert-{{ label }} fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong><i class="fa fa-info-circle"></i></strong>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            {% block conteudo %}
            {% endblock %}
        </section>
        {% block menu2 %}
            {% include '::menu.admin2.html.twig' %}
        {% endblock %}
    </div>

    {% block rodape %}

    {% endblock %}
</section>
{% block javascripts %}
    <script src="{{ asset('assets/vendor/jquery/jquery.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-cookie/jquery-cookie.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap-confirmation/bootstrap-confirmation.js') }}"></script>
    <script src="{{ asset('assets/vendor/nanoscroller/nanoscroller.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.pt-BR.js') }}"></script>
    <script src="{{ asset('assets/vendor/magnific-popup/jquery.magnific-popup.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('assets/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js') }}"></script>
    <script src="{{ asset('assets/vendor/raphael/raphael.js') }}"></script>
    <script src="{{ asset('assets/vendor/morris.js/morris.js') }}"></script>
    <script src="{{ asset('assets/vendor/select2/js/select2.js') }}"></script>
    <script src="{{ asset('assets/vendor/select2/js/pt-BR.js') }}"></script>
    <script src="{{ asset('assets/vendor/pnotify/pnotify.custom.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery.validation/jquery.validation.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-mask/jquery.mask.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/jstree/jstree.js') }}"></script>
    <script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('assets/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js') }}"></script>
{% endblock %}
<script src="{{ asset('assets/js/themeadmin.js') }}"></script>
<script src="{{ asset('assets/js/themeaadmin.init.js') }}"></script>

{% block javascripts2 %}
{% endblock %}
{% block javascripts3 %}
    <script src="{{ asset('assets/js/themeadmin.custom.js') }}"></script>
{% endblock %}
<a class="scroll-to-top hidden-mobile visible" href="#"><i class="fa fa-chevron-up"></i></a>
<script>
    /*
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-77043326-6', 'auto');
    ga('set', 'metric1', "{{ app.request.server.get("REMOTE_ADDR") }}");
    ga('set', 'dimension1', "{{ app.request.server.get("REMOTE_ADDR") }}");
    ga('send', 'pageview');
*/
</script>

</body>
</html>