
<!DOCTYPE html>
<html  lang="pt-br">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: http://ogp.me/ns/video#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="pt-br">
    <title>NTE Tube - {% block titulo %} {% endblock %}</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="{% block metaDescricao %}Repositório de vídeos do Núcleo de Tecnologia Educacional da Universidade Federal de Santa Maria. Este serviço expressa o reconhecimento por parte da Universidade de que uma de suas funções é a disseminação do conhecimento, permitindo que professores disponibilizem suas vídeo aulas, e que alunos acessem vídeo aulas de diversas disciplinas dos cursos EAD da UFSM{% endblock %}">
    <meta name="author" content="NTE - UFSM">
    {% block supercabecalho %} {% endblock %}
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block stylesheets %}
        {%
        stylesheets filter='uglifycss' output="assets/css/app.css"  filter='cssrewrite'
        "assets/vendor/bootstrap/css/bootstrap.min.css"
        "assets/vendor/font-awesome/css/font-awesome.min.css"
        "assets/css/theme.css"
        "assets/css/theme-elements.css"
        "assets/css/skins/default.css"
        "assets/vendor/magnific-popup/magnific-popup.min.css"
        "assets/vendor/mediaelement/build/mediaelementplayer.min.css"
        "assets/vendor/mediaelement-qualityselector/assets/css/mep-feature-qualities.css"
        "assets/vendor/rssb/css/rrssb.css"
        "assets/css/custom.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
     <link rel="stylesheet" href="{{ asset('assets/vendor/mediaelement-skin/mediaelementplayer.css') }}"/>
    <script src="{{ asset('assets/vendor/modernizr/modernizr.min.js') }}"></script>
</head>
<body>
<a href="#main" class="skip">Pular para o principal.</a>
{% block cabecalho %} {% endblock %}
<div role="main" class="main">
    {% block conteudo %}{% endblock %}
</div>
{% block rodape %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js')}}"></script>
    {% javascripts  filter='uglifyjs2' output="assets/css/app.js"
    'assets/vendor/bootstrap/js/bootstrap.min.js'
    'assets/vendor/common/common.min.js'
    'assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js'
    'assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js'
    'assets/vendor/mediaelement/build/mediaelement-and-player.js'
    'assets/vendor/mediaelement-qualityselector/assets/js/mep-feature-qualities.js'
    'assets/vendor/magnific-popup/jquery.magnific-popup.min.js'
    'assets/vendor/rssb/js/rrssb.js'
    'assets/js/theme.js'
    'assets/js/theme.init.js'
    'assets/js/custom.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.defer = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-77043326-1', 'auto');
        ga('set', 'metric1', "{{ app.request.server.get("REMOTE_ADDR") }}");
        ga('set', 'dimension1', "{{ app.request.server.get("REMOTE_ADDR") }}");
        ga('send', 'pageview');

    </script>
{% endblock %}
</body>
</html>