{% set url = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set classe1,classe2 = "","" %}
<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title">
            &nbsp
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html"
             data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li id="menu-lateral-aplicacao" class="nav-parent nav-expanded">
                        <a>
                            <i class="fa fa-th" aria-hidden="true"></i>
                            <span>Aplicação</span>
                        </a>
                        <ul class="nav nav-children">

                            <li class="{% if  path('homepage') == url %} nav-active{% endif %} ">
                                <a href="{{ path('homepage') }}">
                                    <i class="fa fa-home"></i> Homepage
                                </a>
                            </li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="{% if  path('nte_usuario_novo') == url %} nav-active{% endif %} ">
                                    <a href="{{ path('nte_usuario_novo') }}">
                                        <i class="fa fa-user"></i> Novo Usuário
                                    </a>
                                </li>
                            {% endif %}

                            {% if is_granted('ROLE_SOLICITANTE') %}
                                <li class="{% if  path('nova_requisicao') == url %} nav-active{% endif %} ">
                                    <a href="{{ path('nova_requisicao') }}">
                                        <i class="fa fa-plus"></i> Novo Pedido
                                    </a>
                                </li>

                                <li class="{% if  path('lista_pedidos_coordenador') == url %} nav-active{% endif %} ">
                                    <a href="{{ path('lista_pedidos_coordenador') }}">
                                        <i class="fa fa-check"></i> Meus Pedidos
                                    </a>
                                </li>

                            {% endif %}

{#                            {% if is_granted('ROLE_ADMIN') %}#}
{#                                <li class="{% if  path('nte_usuario_novo') == url %} nav-active{% endif %} ">#}
{#                                    <a href="{{ path('nte_usuario_novo') }}">#}
{#                                        <i class="fa fa-user"></i> Novo Usuário#}
{#                                    </a>#}
{#                                </li>#}
{#                            {% endif %}#}

                            {% if is_granted('ROLE_ADMINISTRATIVO') %}
                                <li class="{% if  path('lista_pedidos_administrativo') == url %} nav-active{% endif %} ">
                                    <a href="{{ path('lista_pedidos_administrativo') }}">
                                        <i class="fa fa-users"></i> Administração de Pedidos
                                    </a>
                                </li>
                                <li class="{% if  path('menu_relatorios_escolha_cursos') == url %} nav-active{% endif %} ">
                                    <a href="{{ path('menu_relatorios_escolha_cursos') }}">
                                        <i class="fa fa-pie-chart"></i> Relatórios de Cursos
                                    </a>
                                </li>
                                <li class="{% if  path('main_relatorios_gerais') == url %} nav-active{% endif %} ">
                                    <a href="{{ path('main_relatorios_gerais') }}">
                                        <i class="fa fa-pie-chart"></i> Relatórios Gerais
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</aside>

