<aside id="sidebar-right" class="sidebar-right">
    <div class="nano">
        <div class="nano-content">
            <a href="#" class="mobile-close visible-xs">
                Collapse <i class="fa fa-chevron-right"></i>
            </a>

            <div class="sidebar-right-wrapper">
<!--
                <div class="sidebar-widget widget-calendar">
                    <h6>Meus Agendamentos</h6>

                    <div data-plugin-datepicker data-plugin-skin="dark"></div>
                    {##}{ render(controller('HinkelmannAgendaBundle:Pagina:meusAgendamentos'))}}

                </div>
-->

                <div class="sidebar-widget widget-friends">
                    <h6>Usuários</h6>

                    {#{ render(controller('HinkelmannUsuarioBundle:Usuario:lista'))}#}

                </div>

            </div>
        </div>
    </div>
</aside>

