{% trans_default_domain 'FOSUserBundle' %}

<header class="header">
    <div class="logo-container">
        <a href="{{ path('nte_admin_painel_homepage') }}" class="logo">
            <img src="{{ asset('assets/img/marca_apenas_sigla.svg') }}" height="40">
        </a>

        <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
             data-fire-event="sidebar-left-opened">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="header-right">
        <span class="separator"></span>
        <ul class="notifications">
            <li>
                <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                    <i class="fa fa-tasks"></i>
                    <span class="badge navbar-notification-tasks-number"></span>
                </a>
                <div class="dropdown-menu notification-menu large">
                    <div class="notification-title">
                        <span class="pull-right label label-default navbar-notification-tasks-number">0</span>
                        Pendências
                    </div>
                    <div class="content">
                        <ul id='navbar-notification-tasks-list'>
                            <li>Parabéns, não existe nenhuma pendência!</li>
                        </ul>
                        <hr/>
                        <div class="text-right">
                            <a href="{{ path('nte_admin_checagem_tarefa') }}" class="view-more">Ver todos</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                    <i class="fa fa-envelope"></i>
                    <span class="badge"></span>
                </a>

                <div class="dropdown-menu notification-menu">
                    <div class="notification-title">
                        <span class="pull-right label label-default">0</span>
                        Mensagens
                    </div>
                    <div class="content">
                        <ul>
                            <li>Módulo inativo</li>
                        </ul>
                        <hr/>
                        <div class="text-right">
                            <a href="#" class="view-more">Ver todos</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                    <i class="fa fa-bell"></i>
                </a>
                <div class="dropdown-menu notification-menu">
                    <div class="notification-title">
                        <span class="pull-right label label-default">0</span>
                        Alertas
                    </div>
                    <div class="content">
                        <ul>
                            <li>Módulo inativo</li>
                        </ul>
                        <hr/>
                        <div class="text-right">
                            <a href="#" class="view-more">Ver todos</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <span class="separator"></span>

        <div id="userbox" class="userbox">
            <a href="#" data-toggle="dropdown">
                <figure class="profile-picture">
                    <img src="{{ asset(imgUser) }}" alt="{{ app.user.username }}" class="img-circle"
                         data-lock-picture="{{ asset(imgUser) }}"/>
                </figure>
                <div class="profile-info" data-lock-name="{{ app.user.username }}"
                     data-lock-email="{{ app.user.email }}">
                    <span class="name">{{ app.user.username }}</span>
                    <span class="role">Usuário</span>
                </div>
                <i class="fa custom-caret"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled">
                    <li class="divider"></li>
                    <li>
                        <a role="menuitem" tabindex="-1" href="{{ path('nte_usuario_perfil') }}">
                            <i class="fa fa-user"></i> Meu Perfil
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a role="menuitem" tabindex="-1" href="{{ path('nte_gerenciar_usuarios') }}">
                            <i class="fa fa-users"></i> Gerenciar Usuários
                        </a>
                    </li>
                    {% endif %}
                    {#<li>#}
                        {#<a role="menuitem" tabindex="-1" href="##" data-lock-screen="true">#}
                            {#<i class="fa fa-lock"></i> Bloquear Tela#}
                        {#</a>#}
                    {#</li>#}
                    <li>
                        <a role="menuitem" tabindex="-1" href="{{ path('fos_user_security_logout') }}">
                            <i class="fa fa-power-off"></i> Sair
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>