{% extends 'base.admin.html.twig' %}
{% block titulo %} P{% endblock %}
{% block breadcumbsTitulo %}Painel {% endblock %}
{% block conteudo %}
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="panel">
            <div class="panel-body">
                <form class="form-horizontal form-bordered" action="#">
                    {% for item in itens %}
                        <div class="form-group">
                            <label class="col-md-6 col-sm-3 control-label">{{ item.titulo }}</label>
                            <div class="col-md-6">
                                <a href="{{ item.url }}" class="btn ">
                                    {% if item.check == 0 %}
                                        <i class="fa fa-check-circle text-success"></i> OK
                                    {% else %}
                                        <i class="fa fa-circle text-danger"></i> Corrigir Pendências
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-xl-6">
        <div class="panel">
            <div class="panel-body">
                <meter min="0" max="100" value="{{ stats }}" id="meterDark"></meter>
            </div>
            {{ itens|length  }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/snap.svg/snap.svg.js') }}"></script>
    <script src="{{ asset('assets/vendor/liquid-meter/liquid.meter.js') }}"></script>
{% endblock %}
{% block javascripts3 %}
    <script>
        /** Liquid Meter Dark */
        $('#meterDark').liquidMeter({
            shape: 'square',
            color: '#0088CC',
            background: '#272A31',
            stroke: '#33363F',
            fontSize: '24px',
            fontWeight: '600',
            textColor: '#FFFFFF',
            liquidOpacity: 0.9,
            liquidPalette: ['#0088CC'],
            speed: 3000,
            animate: !$.browser.mobile
        });

        if (typeof($.browser) != 'undefined') {
            if($.browser.mobile) {
                $('#meter, #meterDark').liquidMeter('color', '#0088cc');
            }
        }
    </script>
{% endblock %}