{% extends 'base.admin.html.twig' %}
{% block titulo %}{% endblock %}
{% block breadcumbsTitulo %} {% endblock %}
{% block conteudo %}

    <div class="panel panel-primary panel-size" id="panel-h">
        <div class="panel-heading">
            <span class="titulo-painel">Relatórios</span>
        </div>
    <div class="panel-body panel-size" id="panel-b">
        <input class="form-control" id="myInput" type="text" placeholder="Digite aqui o que você procura..">
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Curso</th>
                <th>Relatório</th>
            </tr>
            </thead>
            <tbody id="tabela-pedidos">
                {% for curso in cursos %}
                    <tr>
                        <td style="vertical-align: middle">
                            {{ curso.nomeCurso }}
                        </td>
                        <td style="vertical-align: middle">
                            <a href="{{ path('relatorio_do_curso', { curso:  curso.id, startDate: null, endDate: null }) }}">
                                <button type="button" class="btn btn-primary btn-sm">
                                   Ver Relatório <i class='fa fa-bar-chart'></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts3 %}
    {{ parent() }}
    <script>

        (function () {

            const model = {

            };

            const controller = {

                init() {
                    this.tableSearch();
                    view.init();
                },

                setValorModel(nome, valor) {
                    model[nome] = valor;
                },

                imprimeModel() {
                    console.table(model);
                },

                tableSearch() {
                    $("#myInput").on("keyup", function() {
                        let value = $(this).val().toLowerCase();
                        $("#tabela-pedidos tr").filter(function() {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                },
            };

            const view = {

                init() {
                    this.inicializarReferenciaHtml();
                    this.inicializarEventListeners();
                },

                inicializarReferenciaHtml() {

                },

                inicializarEventListeners() {

                },

            };
            controller.init();
        }());


    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    #panel-h {
        width: 50%;
        margin: 0 auto;

    }

    .curso-name-btn-size {
        min-width: 15em;
    }

    .titulo-painel {
        font-size: 1.25em;
    }

    thead tr th {
        text-align: center;
    }

     tbody tr td {
        text-align: center;
    }

    tr > th {
        cursor: default;
    }

    tr td {
        cursor: default;
    }

    </style>
{% endblock %}