{% extends 'base.admin.html.twig' %}
{% block titulo %}Relatório do Curso{% endblock %}
{% block breadcumbsTitulo %} {% endblock %}
{% block conteudo %}

    <div class="mfp-container mfp-inline-holder">
        <div class="mfp-content">
            <div id="modalHeaderColorPrimary" class="modal-block modal-header-color modal-block-primary">
                <section class="panel">
                    <header class="panel-heading">
                        <h2 class="panel-title">Alterar intervalo do período</h2>
                    </header>
                    <div class="panel-body">

                        <div class="form-group calendar-size">
                            <label for="somedate" id="label-datepicker">De:</label>
                            <div class="has-feedback">
                                <input class="form-control" name="somedate" id="datepicker-start" value="" type="text">
                                <span class="form-control-feedback"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>

                        <div class="form-group calendar-size">
                            <label for="somedate" id="label-datepicker">Até:</label>
                            <div class="has-feedback">
                                <input class="form-control" name="somedate" id="datepicker-end" value="" type="text">
                                <span class="form-control-feedback"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>

                    <footer class="panel-footer">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-default modal-dismiss">Cancelar</button>
                                <button class="btn btn-primary modal-confirm">Buscar</button>
                            </div>
                        </div>
                    </footer>
                </section>
            </div>
        </div>
    </div>

    <div class="alert alert-primary">
        <a id="modal-b" class="pull-right" title="Alterar Período">
            <i class="fa fa-lg fa-calendar "></i>
        </a>

        <a id="adm-icon" class="pull-right" title="Ir para Administração de Pedidos">
            <i class="fa fa-lg fa-paste "></i>
        </a>

        <a id="return-icon" class="pull-right" title="Retornar">
            <i class="fa fa-lg fa-chevron-left "></i>
        </a>

        <strong class="title-relatorio">Relatório do Curso de {{ nomeCurso }} para o período de {{ startDate }} até {{ endDate }}</strong>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6">

            <section class="panel panel-featured-left panel-featured-primary">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-md">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-primary">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Pedidos Realizados</h4>
                                <div class="info">
                                    <strong class="amount">{{ pedidos }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-6 col-sm-6">
            <section class="panel panel-featured-left panel-featured-success">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-md">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-success">
                                <i class="fa fa-money"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Custo Total</h4>
                                <div class="info">
                                    <strong class="amount">R$ {{ custo }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Custo Mensal</h2>
                    <p class="panel-subtitle">Gráfico referente ao custo mensal que o curso de {{ nomeCurso }} teve no período.</p>
                </header>
                <div class="panel-body" style="display: block;">
                    <div id="custoMensalContainer" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Itens Mais Pedidos </h2>
                    <p class="panel-subtitle">Gráfico referente aos itens mais pedidos que o curso de {{ nomeCurso }} teve no período.</p>
                </header>
                <div class="panel-body" style="display: block;">
                    <div id="itensMaisPedidosContainer" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-6">
            <section class="panel panel-featured-left panel-aprovado-bg">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-md">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon aprovado-bg">
                                <i class="fa fa-check"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Pedidos Aprovados</h4>
                                <div class="info">
                                    <strong class="amount">{{ aprovados }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-3 col-sm-6">
            <section class="panel panel-featured-left panel-aprovado-parcial-bg">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-md">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon aprovado-parcial-bg">
                                <i class="fa fa-check"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Pedidos Parcialmente Aprovados</h4>
                                <div class="info">
                                    <strong class="amount">{{ aprovadosParcialmente }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-3 col-sm-6">
            <section class="panel panel-featured-left panel-pendente-bg">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-md">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon pendente-bg">
                                <i class="fa fa-minus"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Pedidos Pendentes</h4>
                                <div class="info">
                                    <strong class="amount">{{ pendentes }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-3 col-sm-6">
            <section class="panel panel-featured-left panel-rejeitado-bg">
                <div class="panel-body">
                    <div class="widget-summary widget-summary-md">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon rejeitado-bg">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Pedidos Rejeitados</h4>
                                <div class="info">
                                    <strong class="amount">{{ rejeitados }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>



{% endblock %}

{% block javascripts3 %}
    {{ parent() }}
    <script src="{{ asset('assets/js/HighCharts/highcharts.js') }}"></script>
    <script src="{{ asset('assets/js/HighCharts/highcharts-more.js') }}"></script>
    <script src="{{ asset('assets/js/HighCharts/css/highcharts.css') }}"></script>
    <script src="{{ asset('assets/js/swal/sweetalert2.all.min.js') }}"></script>
    <script src="{{ asset('assets/js/jQuery-Mask-Plugin-master/src/jquery.mask.js') }}"></script>

    <script>

        (function () {

            const model = {
                lastRoute: '{{ lastRoute }}',
                chartDataExists: {{ chartDataExists }},
                routePath: '{{ routePath }}',
                idCurso: '{{ idCurso }}'
            };

            const controller = {

                init() {
                    this.checkData();
                    view.init();
                },

                onPageStart() {
                    $('.highcharts-credits').hide();
                    $('.highcharts-legend').hide();
                    $('#datepicker-start').datepicker({format: 'dd-mm-yyyy'});
                    $('#datepicker-end').datepicker({format: 'dd-mm-yyyy'});
                    this.imprimeModel();
                },

                setValorModel(nome, valor) {
                    model[nome] = valor;
                },

                imprimeModel() {
                    console.table(model);
                },

                checkData() {
                    if (model.chartDataExists === 1) {
                        this.checkReturnBtnExists();
                        this.custoMensalChart();
                        this.itensMaisPedidosChart();
                        this.onPageStart();
                    } else {
                        this.swalNoDataFound();
                    }
                },

                swalNoDataFound() {
                    Swal.fire({
                        html: '<section class="panel">\n' +
                            '                    <div class="center-form-modal">\n' +
                            '\n' +
                            '                        <div class="form-group container-de-date">\n' +
                            '                            <label for="somedate" id="label-datepicker">De:</label>\n' +
                            '                            <div>\n' +
                            '                                <input class="form-control" name="datepicker-start-modal" id="datepicker-start-modal" value="" type="text">\n' +
                            '                                <span class="form-control-feedback"><i class="fa fa-calendar"></i></span>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '\n' +
                            '                        <div class="form-group container-ate-date">\n' +
                            '                            <label for="somedate" id="label-datepicker-modal">Até:</label>\n' +
                            '                            <div>\n' +
                            '                                <input class="form-control" name="datepicker-end-modal" id="datepicker-end-modal" value="" type="text">\n' +
                            '                                <span class="form-control-feedback"><i class="fa fa-calendar"></i></span>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '\n' +
                            '                </section>',
                        onOpen() {
                            $('#datepicker-start-modal').datepicker({format: 'dd-mm-yyyy'});
                            $('#datepicker-end-modal').datepicker({format: 'dd-mm-yyyy'});
                            $('#datepicker-start-modal').mask('99/99/9999',{placeholder:"dd/mm/aaaa"});
                            $('#datepicker-end-modal').mask('99/99/9999',{placeholder:"dd/mm/aaaa"});
                        },
                        title: '<strong class="title-strong">Não há pedidos neste intervalo, selecione outro.</strong>' ,
                        width: '70em',
                        allowOutsideClick: false,
                        showCancelButton: true,
                        showCloseButton: false,
                        focusConfirm: true,
                        reverseButtons: true,
                        cancelButtonText: '  <i class="fa fa-lg fa-chevron-left "></i> Menu de Cursos',
                        confirmButtonText: 'Buscar  &nbsp ' +  '<i class="fa fa-lg fa-chevron-right"></i>',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {
                        if (result.value === true)
                        {
                            let endDateModal = $('#datepicker-end-modal').val();
                            let startDateModal = $('#datepicker-start-modal').val();
                            controller.validarSwalSubmit(endDateModal, startDateModal);

                            window.location.href = '/relatorio-curso/' + model.idCurso + '/' + startDateModal + '/'  + endDateModal;
                        } else {
                            window.location.href = 'http://estoque.nte.ufsm.br/menu-relatorio-cursos/';
                        }
                    });
                },

                isNormalInteger(str) {
                    let n = Math.floor(Number(str));
                    return n !== Infinity && String(n) === str && n >= 0;
                },

                swalCalendar() {
                    Swal.fire({
                        html: '<section class="panel">\n' +
                            '                    <div class="center-form-modal">\n' +
                            '\n' +
                            '                        <div class="form-group container-de-date">\n' +
                            '                            <label for="somedate" id="label-datepicker">De:</label>\n' +
                            '                            <div>\n' +
                            '                                <input class="form-control" name="somedate" id="datepicker-start-modal-c" value="" type="text">\n' +
                            '                                <span class="form-control-feedback"><i class="fa fa-calendar"></i></span>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '\n' +
                            '                        <div class="form-group container-ate-date">\n' +
                            '                            <label for="somedate" id="label-datepicker-modal">Até:</label>\n' +
                            '                            <div>\n' +
                            '                                <input class="form-control" name="somedate" id="datepicker-end-modal-c" value="" type="text">\n' +
                            '                                <span class="form-control-feedback"><i class="fa fa-calendar"></i></span>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '\n' +
                            '                </section>',
                        onOpen() {
                            $('#datepicker-start-modal-c').datepicker({format: 'dd-mm-yyyy'});
                            $('#datepicker-end-modal-c').datepicker({format: 'dd-mm-yyyy'});
                            $('#datepicker-start-modal-c').mask('99/99/9999',{placeholder:"dd/mm/aaaa"});
                            $('#datepicker-end-modal-c').mask('99/99/9999',{placeholder:"dd/mm/aaaa"});
                        },
                        title: '<strong class="title-strong">Alterar intervalo de tempo do relatório</strong>' ,
                        width: '70em',
                        allowOutsideClick: false,
                        showCancelButton: true,
                        showCloseButton: false,
                        focusConfirm: true,
                        reverseButtons: true,
                        cancelButtonText: '  <i class="fa fa-lg fa-chevron-left"></i> Menu de Cursos',
                        confirmButtonText: 'Buscar  &nbsp ' +  '<i class="fa fa-lg fa-chevron-right"></i>',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                    }).then((result) => {
                        if (result.value === true)
                        {
                            let endDateModal = $('#datepicker-end-modal-c').val();
                            let startDateModal = $('#datepicker-start-modal-c').val();
                            controller.validarSwalSubmit(endDateModal, startDateModal);
                        } else {
                            window.location.href = 'http://estoque.nte.ufsm.br/menu-relatorio-cursos/';
                        }
                    });
                },

                validarSwalSubmit(endDateModal, startDateModal) {

                  if ((startDateModal.length) < 10 && (startDateModal.length < 10)) {
                      console.log('fora do padrao, nao validar');
                  } else {
                      window.location.href = '/relatorio-curso/' + model.idCurso + '/' + startDateModal + '/'  + endDateModal;
                  }
                },

                disableDatePickerBtnC() {
                    $('.swal2-confirm.swal2-styled').prop('disabled', true);
                },

                enableDatePickerBtnC() {
                    $('.swal2-confirm.swal2-styled').prop('disabled', false);
                },

                checkReturnBtnExists() {
                    if (model.lastRoute === "") {
                        $('#return-icon').hide();
                    }
                },

                itensMaisPedidosChart() {
                    Highcharts.chart('itensMaisPedidosContainer', {
                        chart: {
                            zoomType: 'xy'
                        },
                        title: {
                            text: ''
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: [{
                            categories: {{ itensMaisPedidosProduto|json_encode|raw }} ,
                            crosshair: true
                        }],
                        yAxis: [{
                            labels: {
                                format: '{value}',
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            title: {
                                text: '',
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            }
                        }, {
                            title: {
                                text: 'Quantidade',
                                style: {
                                    color: Highcharts.getOptions().colors[0]
                                }
                            },
                            labels: {
                                format: '{value} un.',
                                style: {
                                    color: Highcharts.getOptions().colors[0]
                                }
                            },
                            opposite: true
                        }],
                        tooltip: {
                            shared: true
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'left',
                            x: 120,
                            verticalAlign: 'top',
                            y: 100,
                            floating: true,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || 'rgba(255,255,255,0.25)'
                        },
                        series: [{
                            name: 'Quantidade',
                            type: 'column',
                            yAxis: 1,
                            data: {{ itensMaisPedidosQuantidade|json_encode|raw }},
                        }, {
                            name: '',
                            type: '',
                            data: '',
                        }]
                    });
                },

                custoMensalChart() {

                    Highcharts.chart('custoMensalContainer', {
                        chart: {
                            zoomType: 'xy'
                        },
                        title: {
                            text: ''
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: [{
                            categories: {{ gastoMensalMeses|json_encode|raw }} ,
                            crosshair: true
                        }],
                        yAxis: [{
                            labels: {
                                format: '{value}',
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            },
                            title: {
                                text: '',
                                style: {
                                    color: Highcharts.getOptions().colors[1]
                                }
                            }
                        }, {
                            title: {
                                text: 'Valor',
                                style: {
                                    color: Highcharts.getOptions().colors[0]
                                }
                            },
                            labels: {
                                format: '{value} Reais',
                                style: {
                                    color: Highcharts.getOptions().colors[0]
                                }
                            },
                            opposite: true
                        }],
                        tooltip: {
                            shared: true
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'left',
                            x: 120,
                            verticalAlign: 'top',
                            y: 100,
                            floating: true,
                            backgroundColor:
                                Highcharts.defaultOptions.legend.backgroundColor || 'rgba(255,255,255,0.25)'
                        },
                        series: [{
                            name: 'Reais',
                            type: 'column',
                            yAxis: 1,
                            data: {{ gastoMensalReais|json_encode|raw }},
                        }, {
                            name: '',
                            type: '',
                            data: '',
                        }]
                    });
                },

                irParaAdmPedidos() {
                    window.location.href = "/lista-pedidos-adm";
                },

                voltarNavegacao() {
                    window.location.href = '{{ lastRoute }}';
                }

            };

            const view = {

                init() {
                    this.inicializarReferenciaHtml();
                    this.inicializarEventListeners();
                },

                inicializarReferenciaHtml() {
                    this.admHeaderIcon = document.querySelector('#adm-icon');
                    this.returnHeaderIcon = document.querySelector('#return-icon');
                    this.calendarIcon = document.querySelector('#modal-b');
                },

                inicializarEventListeners() {

                    $(document).on('click', '#adm-icon', function (e) {
                        e.preventDefault();
                        controller.irParaAdmPedidos();
                    });

                    $(document).on('click', '#return-icon', function (e) {
                        e.preventDefault();
                        controller.voltarNavegacao();
                    });

                    this.calendarIcon.addEventListener('click', evt => {
                        controller.swalCalendar();
                    });

                },

            };
            controller.init();
        }());
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        .fa-calendar {
            cursor: pointer;
        }

        .swal2-actions > button {
            min-width: 15em;
        }

        input {
            text-align: center;
            cursor: pointer;
        }

        .title-strong {
            margin-bottom: 1em ;
        }

        .container-de-date {
            margin-right: 1em;
        }

        .center-form-modal {
            display: flex;
            justify-content: center;
        }

        .fa-calendar {
            color: #ffffff;
        }

        .fa-chevron-left {
            cursor: pointer;
            color: #ffffff;
            margin-right: 0.5em;
        }

        .fa-paste {
            cursor: pointer;
            color: #ffffff;
            margin-right: 0.5em;
        }

        .title-relatorio {
            font-size: 1.20em;
        }

        .mfp-container.mfp-inline-holder {
            z-index: -1;
        }

        .calendar-size {
            width: 20em;
        }

        #btn-buscar {
            margin-top: 1.25em;
            align-self: flex-end;
        }

        .panel-heading h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: normal;
            width: 75%;
            padding-top: 8px;
        }

        .numero-pedidos {
            background-color: #5bc0de;
        }

        .aprovado-bg {
            background-color: #28a745;
        }

        .panel-aprovado-bg {
            border-color: #28a745;
        }

        .aprovado-parcial-bg {
            background-color: #438463;
        }

        .panel-aprovado-parcial-bg {
            border-color: #438463;
        }

        .pendente-bg {
            background-color: #ffac07;
        }

        .panel-pendente-bg {
            border-color: #ffac07;
        }

        .rejeitado-bg {
            background-color: #dc3545;
        }

        .panel-rejeitado-bg {
            border-color: #dc3545;
        }


    </style>
{% endblock %}