{% extends 'base.admin.html.twig' %}
{% block titulo %}{% endblock %}
{% block breadcumbsTitulo %} {% endblock %}
{% block conteudo %}

    <div class="container-flex">

        <div class="container-dates">

            <div class="panel panel-primary panel-size" id="panel-h">

                <div class="panel-heading">
                    <span class="titulo-painel">Período</span>
                </div>

                <div class="panel-body panel-size" id="panel-b">

                    <div class="form-group">
                        <label for='select-ano'>Ano</label>
                        <div class='input-group date'>
                            <select class="form-control form-control-sm" id="select-ano" name="select-ano">
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                            </select><span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary btn-sm" id="btn-buscar"> Buscar </button>
                </div>
            </div>
        </div>

        <div class="container-table">
            <div class="panel panel-primary panel-size" id="panel-h">
                <div class="panel-heading">
                    <span class="titulo-painel">Relatório de Custo Anual</span>
                </div>
                <div class="panel-body panel-size" id="panel-b">
                    <input class="form-control" id="myInput" type="text" placeholder="Digite aqui o que você procura..">
                    <br>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Curso</th>
                            {% for mes in meses %}
                                <th>{{ mes.nome }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody id="tabela-pedidos">
                            {% for m in main %}
                                <tr>
                                    <td style="vertical-align: middle">
                                        {{ m.nomeCurso }}
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% if  m.janeiro  > 0  %}
                                             {{ m.janeiro|replace({"." : ","}) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                     <td style="vertical-align: middle">
                                         {% if  m.fevereiro  > 0  %}
                                             {{ m.fevereiro|replace({"." : ","}) }}
                                         {% else %}
                                             -
                                         {% endif %}
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% if  m.marco  > 0  %}
                                            {{ m.marco|replace({"." : ","}) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% if  m.abril  > 0  %}
                                             {{ m.abril|replace({"." : ","}) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% if  m.maio  > 0  %}
                                             {{ m.maio|replace({"." : ","}) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% if  m.junho  > 0  %}
                                             {{ m.junho|replace({"." : ","}) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% if  m.julho  > 0  %}
                                             {{ m.julho|replace({"." : ","}) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% if  m.agosto  > 0  %}
                                             {{ m.agosto|replace({"." : ","}) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% if  m.setembro  > 0  %}
                                             {{ m.setembro|replace({"." : ","}) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% if  m.outubro  > 0  %}
                                             {{ m.outubro|replace({"." : ","}) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% if  m.novembro  > 0  %}
                                             {{ m.novembro|replace({"." : ","}) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td style="vertical-align: middle">
                                        {% if  m.dezembro  > 0  %}
                                             {{ m.dezembro|replace({"." : ","}) }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts3 %}
    {{ parent() }}
    <script>

        (function () {

            const model = {
                ano: {{ ano }},
            };

            const controller = {

                init() {
                    this.tableSearch();
                    this.onPageStart();
                    view.init();
                },

                setValorModel(nome, valor) {
                    model[nome] = valor;
                },

                imprimeModel() {
                    console.table(model);
                },

                onPageStart() {
                    let path = window.location.pathname;
                    let ano = path.substr(path.length - 4);
                    $("#select-ano").val(ano);
                    this.updateSelectDisplay();
                    this.imprimeModel();
                },

                updateSelectDisplay() {
                    // view.selectAno.value = model.ano;
                    let ovo = document.querySelector('#select-ano');
                    ovo.value = model.ano;
                    $('#select-ano').val(model.ano);
                    console.log('ano');
                    console.log(model.ano);
                },

                changeYear(ano) {
                    window.location.href = "/tabela-anual/" + ano;
                },

                tableSearch() {
                    $("#myInput").on("keyup", function() {
                        let value = $(this).val().toLowerCase();
                        $("#tabela-pedidos tr").filter(function() {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                },
            };

            const view = {

                init() {
                    this.inicializarReferenciaHtml();
                    this.inicializarEventListeners();
                },

                inicializarReferenciaHtml() {
                    this.btnBuscar = document.querySelector('#btn-buscar');
                    this.selectAno = document.querySelector('#select-ano');
                },

                inicializarEventListeners() {
                    this.btnBuscar.addEventListener('click', evt => {
                        let ano = $('#select-ano option:selected').text();
                        controller.changeYear(ano);
                    })
                },

            };
            controller.init();
        }());


    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    .container-flex {
        justify-content: center;
    }

    .container-table {
        width: 85%;
    }

    .btn.btn-primary.btn-sm {
        margin-top: 1em;
        float: right;
    }

    .container-dates {
        margin-right: 0.15em;
        width: 13%;
    }

    .container-flex {
        display: flex;
    }

    #panel-h {
        margin: 0 auto;
    }


    .titulo-painel {
        font-size: 1.25em;
    }

    thead tr th {
        text-align: center;
    }

     tbody tr td {
        text-align: center;
    }

    tr > th {
        cursor: default;
        min-width: 5em;
    }

    tr td {
        cursor: default;
    }

    </style>
{% endblock %}