{% extends 'base.admin.html.twig' %}
{% block titulo %} Dashboard{% endblock %}
{% block breadcumbsTitulo %}{% endblock %}
{% block conteudo %}

<div class="panel panel-primary panel-size col-md-6">

    <div class="panel-heading">
        <span class="titulo-painel"><strong>Log Big Blue Button</strong></span>
    </div>

    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% if data is defined %}
                        <th></th>
                        <th>Chrome</th>
                        <th>Mozilla</th>
                        <th>Edge</th>
                        <th>Safari</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody id="tabela-pedidos">
                {% if data is defined %}
                    <tr>
                        <td>Quantidade</td>
                        <td>{{ data["chrome"] }}</td>
                        <td>{{ data["mozilla"] }}</td>
                        <td>{{ data["edge"] }}</td>
                        <td>{{ data["safari"] }}</td>
                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td> {% if chromeRatingAverage is defined %} {{ chromeRatingAverage }} {% endif %} </td>
                        <td> {% if mozillaRatingAverage is defined %} {{ mozillaRatingAverage }} {% endif %} </td>
                        <td> {% if edgeRatingAverage is defined %} {{ edgeRatingAverage }} {% endif %} </td>
                        <td> {% if safariRatingAverage is defined %} {{ safariRatingAverage }} {% endif %} </td>
                    </tr>
                {% endif %}
            </tbody>
            {% if arrayHoras is not defined %}
                <br>
            {% endif %}
        </table>
    </div>

    <div class="fix-m">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Browsers Utilizados</h2>
                <p class="panel-subtitle">Total: {{ ratingsCounter }}</p>
            </header>
            <div class="panel-body" style="display: block;">
                <div id="grafico2" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
            </div>
        </section>
    </div>
</div>

    <div class="panel panel-primary panel-size col-md-6">
        <div class="panel-heading">
            <span class="titulo-painel"><strong class="titlef">Log Big Blue Button</strong></span>
            <div class="form-log">
                <form action="{{ path('log_graph') }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                    <span class="btn btn-default btn-file"> Adicionar
                        <input type="file" name="file[]" value="" multiple="">
                    </span>
                        <button type="submit" class="btn btn-success" name="file">Ver Log</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    {% if arrayHoras is defined %}
                        <tr>
                            <th></th>
                        </tr>
                    {% endif %}
                </thead>

                <tbody id="tabela-pedidos">
                    <tr>
                        {% if arrayHoras is defined %}
                            <td>Hora</td>
                            {% for key in arrayHoras|keys %}
                                <td>
                                    {% if key < 10 %}
                                        0{{ key }}
                                    {% else %}
                                        {{ key }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                    <tr>
                        {% if arrayHoras is defined %}
                            <td>Rating</td>
                            {% for hora in arrayHoras %}
                                <td>{{ hora|number_format(2, '.', ',') }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                    <br>
                </tbody>
            </table>
        </div>

        <div class="fix-m">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Rating por Hora</h2>
                    <p class="panel-subtitle">Total: {{ ratingsCounter }}</p>
                </header>
                <div class="panel-body" style="display: block;">
                    <div id="grafico" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}

{% block javascripts3 %}
    {{ parent() }}
    <script src="{{ asset('assets/js/swal/sweetalert2.all.min.js') }}"></script>
    <script src="{{ asset('assets/js/HighCharts/highcharts.js') }}"></script>
    <script src="{{ asset('assets/js/HighCharts/highcharts-more.js') }}"></script>
    <script src="{{ asset('assets/js/HighCharts/css/highcharts.css') }}"></script>
    <script>

        (function () {

            const model = {
                chromeAverage: {{ chromeRatingAverage }},
                ratingsCounter: {{ ratingsCounter }}
            };

            const controller = {

                init() {
                    // this.imprimeModel();
                    this.graph();
                    this.TimeGraph();
                    this.onPageStart();
                    view.init();
                },

                onPageStart() {
                    $('.highcharts-credits').hide();
                },

                {% if arrayHoras is defined %}
                    TimeGraph() {
                        Highcharts.chart('grafico', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: ''
                            },
                            subtitle: {
                                text: ''
                            },
                            xAxis: {
                                type: 'category',
                                labels: {
                                    rotation: -45,
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            },
                            yAxis: {
                                min: 0,
                                max: 5,
                                title: {
                                    text: 'Rating'
                                }
                            },
                            legend: {
                                enabled: false
                            },
                            tooltip: {
                                formatter: function () {
                                    return 'Rating:' + Highcharts.numberFormat(this.y,2);
                                }},
                            series: [{
                                name: 'Browsers',
                                data: {{ arrayHorasGraph|json_encode|raw }},
                                dataLabels: {
                                    enabled: false,
                                    rotation: -90,
                                    color: '#FFFFFF',
                                    align: 'right',
                                    format: '{point.y}',
                                    y: 15,
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            }]
                        });

                    },
                {% endif %}


                {% if qtdBrowsers is defined %}
                    graph() {
                        Highcharts.chart('grafico2', {
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: ''
                            },
                            subtitle: {
                                text: ''
                            },
                            xAxis: {
                                type: 'category',
                                labels: {
                                    rotation: -45,
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Quantidade'
                                }
                            },
                            legend: {
                                enabled: false
                            },
                            tooltip: {
                             formatter: function () {
                                return 'Quantidade: ' + this.y;
                             }},

                            series: [{
                                name: 'Browsers',
                                data: {{ qtdBrowsers|json_encode|raw }},
                                dataLabels: {
                                    enabled: false,
                                    rotation: -90,
                                    color: '#FFFFFF',
                                    align: 'right',
                                    format: '{point.y}',
                                    y: 10,
                                    style: {
                                        fontSize: '13px',
                                        fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            }]
                        });
                        $('.highcharts-credits').hide();
                    },
                {% endif %}


                setValorModel(nome, valor) {
                    model[nome] = valor;
                },

                imprimeModel() {
                    console.table(model);
                },

            };

            const view = {

                init() {
                    this.inicializarReferenciaHtml();
                    this.inicializarEventListeners();
                },

                inicializarReferenciaHtml() {

                },

                inicializarEventListeners() {

                },
            };

            controller.init();
        }());


    </script>
{% endblock %}


{% block stylesheets %}

    {{ parent() }}

    <style>

        .titlef {
            visibility: hidden;
        }

        .fix-m {
            margin-top: 1em;
            padding-right: 0;
            padding-left: 0;
        }

        tbody tr td {
            vertical-align: middle
        }

        .form-log {
          float: right;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }


    </style>

{% endblock %}