{% extends 'base.admin.html.twig' %}
{% block titulo %} Dashboard{% endblock %}
{% block breadcumbsTitulo %}{% endblock %}
{% block conteudo %}

<div class="panel panel-primary panel-size">

        <div class="panel-heading">
            <span class="titulo-painel"><strong>Log Big Blue Button</strong></span>
            <div class="form-log">
                <form action="{{ path('fileuploadhandler') }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <span class="btn btn-default btn-file"> Adicionar
                            <input type="file" name="file[]" value="" multiple="">
                        </span>
                        <button type="submit" class="btn btn-success" name="file">Ver Log</button>
                    </div>
                </form>
            </div>
        </div>

    <div class="panel-body">
        <input class="form-control" id="myInput" type="text" placeholder="Digite aqui o que você procura..">
        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Ip</th>
                <th>Data</th>
                <th>Fullname</th>
                <th>MeetingId</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>UserAgent</th>
            </tr>
            </thead>

            <tbody id="tabela-pedidos">

                {% if feedbackStatus is same as (0) %}
                       <tr>
                            <td>
                                Nenhum arquivo carregado
                            <td>
                       </tr>
                {% elseif feedbackStatus is same as (1) %}
                        <tr>
                            <td>
                              Log(s) sem feedback
                            <td>
                       </tr>
                {% endif %}

                {% if data is defined %}
                    {% for log in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ log["ip"] }}</td>
                            <td>{{ log["data"] }}</td>
                            <td>
                                {% if log["externUserID"] is defined %}
                                    {{ log["externUserID"] }} - {{ log["fullname"] }}
                                {% else %}
                                    {{ log["fullname"] }}
                                {% endif %}

                                {% if log["userRole"] is defined %}
                                <br>  {{ log["userRole"] }}
                                {% endif %}
                            </td>
                            <td>
                                {{ log["confname"] }} <br>
                                {{ log["meetingId"] }}
                            </td>
                            <td>{{ log["rating"] }}</td>
                            <td>{{ log["comment"] }}</td>
                            <td>{{ log["userAgent"] }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}

            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascripts3 %}
    {{ parent() }}
    <script src="{{ asset('assets/js/swal/sweetalert2.all.min.js') }}"></script>
    <script src="{{ asset('assets/js/dropzone-5.7.0/dist/min/dropzone.min.js') }}"></script>
    <script src="{{ asset('assets/js/dropzone-5.7.0/dist/min/dropzone.min.css') }}"></script>
    <script>

        (function () {

            const model = {

            };

            const controller = {

                init() {
                    // this.imprimeModel();
                    // this.configDropzone();
                      this.tableSearch();
                    view.init();
                },

                tableSearch() {
                    $("#myInput").on("keyup", function() {
                        let value = $(this).val().toLowerCase();
                        $("#tabela-pedidos tr").filter(function() {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                },

                configDropzone() {
                    Dropzone.autoDiscover = false;
                    let dropzone_default = new Dropzone(".dropzone", {
                        url: '{{ path('fileuploadhandler') }}' ,
                        maxFiles:1,
                        maxFilesize: 100,  // in Mb
                        addRemoveLinks: true,
                        init: function () {
                            this.on("sending", function(file, xhr, formData) {
                                console.log(file);
                            });
                            this.on("success", function(file, response) {
                                if (response) {
                                    // location.href = '/app_dev.php/fileuploadhandler/' + file.name;
                                }

                            });
                        }
                    });
                },

                setValorModel(nome, valor) {
                    model[nome] = valor;
                },

                imprimeModel() {
                    console.table(model);
                },

            };

            const view = {

                init() {
                    this.inicializarReferenciaHtml();
                    this.inicializarEventListeners();
                },

                inicializarReferenciaHtml() {

                },

                inicializarEventListeners() {

                },
            };

            controller.init();
        }());


    </script>
{% endblock %}


{% block stylesheets %}

    {{ parent() }}

    <style>

        tbody tr td {
            vertical-align: middle
        }

        .form-log {
          float: right;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }


    </style>

{% endblock %}