{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('col-md-3 control-label'))|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block form_row %}
    {% spaceless %}
        {% if 'checkbox' in form.vars.block_prefixes[1] %}
            <div class="checkbox">
                <label>
                    {{ form_widget(form) }} {{ form_label(form) }}
                </label>
            </div>
        {% else %}
            <div class="form-group">
                {{ form_errors(form) }}
                {{ form_label(form, label|default(null)) }}
                <div class="col-md-8">
                    {{ form_widget(form) }}

                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_row %}
