{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="featured-boxes">
                <div class="row">
                    {% if error %}
                        <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}  </div>
                    {% endif %}
                    <div class="col-md-6 col-md-offset-3 col-sm-12">
                        <div class="featured-box featured-box-primary align-left mt-xlg" style="height: 327px;">
                            <div class="box-content">
                                <h4 class="heading-primary text-uppercase mb-md">Acesso Administrativo</h4>

                                <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>{{ 'security.login.username'|trans }}</label>
                                                <input type="text" value="" class="form-control input-lg " id="username"
                                                       name="_username" value="{{ last_username }}"
                                                       placeholder="Informe seu Usuário">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>{{ 'security.login.password'|trans }}</label>
                                                <input type="password" id="password" name="_password"
                                                       placeholder="*************" class="form-control input-lg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <span class="remember-box checkbox">
                                                <label for="remember_me">
                                                    <input type="checkbox" id="remember_me" name="_remember_me"
                                                           checked>{{ 'security.login.remember_me'|trans }} </label>
                                            </span>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="submit" id="_submit" name="_submit"
                                                   value="{{ 'security.login.submit'|trans }}"
                                                   class="btn btn-primary  mb-xl"
                                                   data-loading-text="Loading...">
                                        </div>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            <div class="{{ type }}">
                                {{ message|trans({}, 'FOSUserBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

</div>