{% trans_default_domain 'FOSUserBundle' %}
<!doctype html>
<html class="fixed">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="Nte">

    <title>Friga - NTE</title>
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/pnotify/pnotify.custom.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/theme.admin.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/theme-custom.admin.css') }}">
    <script src="{{ asset('assets/vendor/modernizr/modernizr.js') }}"></script>
</head>
<body>
<section class="body-sign">
    <div class="center-sign">
        <a href="#" class="logo pull-left" tabIndex="-1">
            <img src="{{ asset('assets/img/marca_principal_horizontal.svg') }}" height="54" alt="Marca do NTE"/>
        </a>

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-weight-bold m-none">
                    <i class="fa fa-user mr-xs"></i>{{ 'layout.login'|trans }}
                </h2>
            </div>

            <div class="panel-body">
                <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                    <div class="form-group mb-lg">
                        <label tabIndex="-1">{{ 'security.login.username'|trans }}</label>
                        <div class="input-group input-group-icon">
                            <input id="username" name="_username" value="{{ last_username }}"
                                   placeholder="Informe seu Usuário" type="text" class="form-control input-lg"/>
                            <span class="input-group-addon">
                                <span class="icon icon-lg">
                                    <i class="fa fa-user"></i>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group mb-lg">
                        <div class="clearfix">
                            <label class="pull-left" tabIndex="-1">{{ 'security.login.password'|trans }}</label>
                            <a href="{{ path('fos_user_resetting_request') }}" class="pull-right" tabIndex="-1">{{ 'resetting.request.submit'|trans }} </a>
                        </div>
                        <div class="input-group input-group-icon">
                            <input id="password" name="_password" placeholder="*************" type="password"
                                   class="form-control input-lg"/>
                            <span class="input-group-addon">
                                <span class="icon icon-lg">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="checkbox-custom checkbox-default">
                                <input type="checkbox" id="remember_me" name="_remember_me" tabIndex="-1"/>
                                <label for="RememberMe">{{ 'security.login.remember_me'|trans }}</label>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"
                                   class="btn btn-primary hidden-xs" data-loading-text="Aguarde...">
                            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"
                                   class="btn btn-primary btn-block btn-lg visible-xs mt-lg" data-loading-text="Aguarde...">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<script src="{{ asset('assets/vendor/jquery/jquery.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery-cookie/jquery-cookie.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ asset('assets/vendor/nanoscroller/nanoscroller.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery.magnific-popup/jquery.magnific-popup.min.js') }}"></script>

<script src="{{ asset('assets/vendor/pnotify/pnotify.custom.js') }}"></script>
<script src="{{ asset('assets/js/themeadmin.js') }}"></script>
<script src="{{ asset('assets/js/themeaadmin.init.js') }}"></script>
<script src="{{ asset('assets/js/themeadmin.custom.js') }}"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-77043326-7"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-77043326-7');
</script>
<script>
    {% if error %}
    new PNotify({
        title: 'Erro',
        text: "{{ error.messageKey|trans(error.messageData, 'security') }}",
        type: 'error',
    });
    {% endif %}
</script>
</body>
</html>