{% extends 'base.admin.html.twig' %}
{% block titulo %} Dashboard{% endblock %}
{% block breadcumbsTitulo %}{% endblock %}
{% block conteudo %}
    <div class="col-md-12">
        <div class="alert alert-primary">
            <strong class="title-relatorio">Home - Almoxarifado</strong>
        </div>
        {% if is_granted('ROLE_SOLICITANTE') %}
            <section class="panel">
                <div class=" panel-body text-center">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <a href="{{ path('nova_requisicao') }}">
                                <div class="featured-box featured-box-primary featured-box-effect-3">
                                    <div class="box-content">
                                        <i class="fa fa-plus"></i>
                                        <h4>Novo Pedido</h4>
                                        <p>Faça um novo pedido</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-md-3 col-sm-4 col-xs-6">
                                <a href="{{ path('nte_usuario_novo') }}">
                                    <div class="box-content">
                                        <i class="fa fa-user"></i>
                                        <h4>Novo Usuário</h4>
                                        <p>Adicione um usuário ao sistema</p>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <a href="{{ path('lista_pedidos_coordenador') }}">
                                <div class="box-content">
                                    <i class="fa fa-list"></i>
                                    <h4>Meus Pedidos</h4>
                                    <p>Veja seus pedidos</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if is_granted('ROLE_ADMINISTRATIVO') %}
            <section class="panel">
                <div class=" panel-body text-center">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <a href="{{ path('lista_pedidos_administrativo') }}">
                                <div class="featured-box featured-box-primary featured-box-effect-3">
                                    <div class="box-content">
                                        <i class="fa fa-paste"></i>
                                        <h4>Administrar Pedidos</h4>
                                        <p>Administre os pedidos dos cursos</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <a href="{{ path('main_relatorios_gerais') }}">
                                <div class="box-content">
                                    <i class="fa fa-bar-chart"></i>
                                    <h4>Relatório Geral</h4>
                                    <p>Veja o relatório geral do almoxarifado</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <a href="{{ path('menu_relatorios_escolha_cursos') }}">
                                <div class="box-content">
                                    <i class="fa fa-pie-chart"></i>
                                    <h4>Relatório Cursos</h4>
                                    <p>Veja o relatório de cada curso</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <a href="{{ path('tabela_gasto_anual' ) }}">
                                <div class="box-content">
                                    <i class="fa fa-table"></i>
                                    <h4>Tabela Gasto Anual</h4>
                                    <p>Veja quanto cada curso custou no ano</p>
                                </div>
                            </a>
                        </div>
                        {#<div class="col-md-3 col-sm-4 col-xs-6">#}
                            {#<a href="{{ path('importar_csv_produtos' ) }}">#}
                                {#<div class="box-content">#}
                                    {#<i class="fa fa-file"></i>#}
                                    {#<h4>Atualizar Lista de Produtos</h4>#}
                                    {#<p>Faça o upload de uma nova lista de produtos</p>#}
                                {#</div>#}
                            {#</a>#}
                        {#</div>#}
                    </div>
                </div>
            </section>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts3 %}
    {{ parent() }}
    <script src="{{ asset('assets/js/swal/sweetalert2.all.min.js') }}"></script>
    <script>

        (function () {

            const model = {
                quantidadePedidosPendentes: {{ quantidadePedidosPendentes }},
                isAvaliador: {{ isAvaliador }}
            };

            const controller = {

                init() {
                    // this.imprimeModel();
                    this.pedidosNaoAtualizadosSwal();
                    view.init();
                },

                pedidosNaoAtualizadosSwal() {
                 
                    if (model.quantidadePedidosPendentes > 0 && model.isAvaliador === 1 ) {
                        Swal.fire({
                            html: '<span id="span-h"></span>',
                            title: 'Bem vindo {{ username }}, Você possui {{ quantidadePedidosPendentes }} pendentes!',
                            width: '70em',
                            allowOutsideClick: false,
                            showCancelButton: true,
                            showCloseButton: false,
                            focusConfirm: true,
                            reverseButtons: true,
                            cancelButtonText: 'Ignorar <i class="fa fa-times"></i>',
                            confirmButtonText: 'Ver pedidos <i class="fa fa-check"></i>',
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                        }).then((result) => {
                            if (result.value) {
                                window.location.href = 'http://estoque.nte.ufsm.br/lista-pedidos-adm';
                            }
                        })
                    }
                },

                setValorModel(nome, valor) {
                    model[nome] = valor;
                },

                imprimeModel() {
                    console.table(model);
                },

            };

            const view = {

                init() {
                    this.inicializarReferenciaHtml();
                    this.inicializarEventListeners();
                },

                inicializarReferenciaHtml() {

                },

                inicializarEventListeners() {

                },
            };

            controller.init();
        }());


    </script>
{% endblock %}


{% block stylesheets %}

    {{ parent() }}

    <style>
        .box-content {
            margin: 10px;
        }

        .box-content i {
            font-size: 46px;
        }

        .swal2-confirm {
            min-width: 10em;
            justify-content: center;
        }

        .swal2-cancel {
            min-width: 10em;
        }

    </style>

{% endblock %}