{% trans_default_domain 'FOSUserBundle' %}
<!doctype html>
<html class="fixed">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <meta name="author" content="Nte">

    <title>Friga - NTE</title>
    <link rel="shortcut icon" href="{{ asset('assets/img/favicon.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/pnotify/pnotify.custom.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/theme.admin.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/theme-custom.admin.css') }}">
    <script src="{{ asset('assets/vendor/modernizr/modernizr.js') }}"></script>
</head>
<body>
<section class="body-sign">
    <div class="center-sign">
        {% block marca %}
        <a href="{{ path('nte_admin_painel_homepage') }}" class="logo pull-left">
            <img src="{{ asset('assets/img/marca_principal_horizontal.svg') }}" height="54" alt="Marca do NTE"/>
        </a>
        {% endblock %}
        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-weight-bold m-none">
                    <i class="fa fa-user mr-xs"></i>{% block titulo %} Usuário {% endblock %}

                </h2>
            </div>
            <div class="panel-body">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>

    </div>
</section>
{% block javascripts %}
<script src="{{ asset('assets/vendor/jquery/jquery.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery-cookie/jquery-cookie.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ asset('assets/vendor/nanoscroller/nanoscroller.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery.magnific-popup/jquery.magnific-popup.min.js') }}"></script>

<script src="{{ asset('assets/vendor/pnotify/pnotify.custom.js') }}"></script>
<script src="{{ asset('assets/js/themeadmin.js') }}"></script>
<script src="{{ asset('assets/js/themeaadmin.init.js') }}"></script>
<script src="{{ asset('assets/js/themeadmin.custom.js') }}"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-77043326-7"></script>
{% endblock %}
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-77043326-7');
</script>
<script>
    {% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
    new PNotify({
        title: 'Erro',
        text: "{{ message }}",
        type: '{{ type }}',
    });
    {% endfor %}
    {% endfor %}
    {% endif %}
</script>
</body>
</html>