{#% if entity.idArquivo|length != 0 %}
    {% set arquivoImagemPerfil = asset('assets/img/default_user.png') %}
{% else %}
    {% set arquivoImagemPerfil = asset('assets/img/default_user.png') %}
{}% endif %#}
{% set arquivoImagemPerfil = asset('assets/img/default_user.png') %}
{% extends '@FOSUser/layout.html.twig' %}
{% block marca %}{% endblock %}
{% block titulo %} Redefinição de Senha {% endblock %}
{% block fos_user_content %}
    <div class="row">
        <div class="alert alert-info">
            Olá <strong>{{ entity.nome }}</strong>,<br>
            Para você ter acesso ao sistema, será necessário completar o cadastro com os seguintes dados:
            <ul>
                {% if entity.img == 'assets/img/default_user.png' %}
                    <li><b>Inserir uma imagem de perfil</b></li>
                {% endif %}
                {% if entity.cpf is null %}
                    <li><b>Informar o seu CPF</b></li>
                {% endif %}
                <li><b>Informar uma nova senha</b></li>
            </ul>
        </div>

        <div class="col-md-12">
            <div class="row text-center">
                <div class="kv-avatar">
                    <div class="file-loading">
                        <input id="file" name="file" type="file" required>
                    </div>
                </div>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="form-group text-center">
            <div class="">
                <input type="checkbox" class='hidden validar' id="foto" name="foto"
                       data-validate=""
                       data-msg="Por favor, atualize sua foto."
                       required="required" value="1"
                       aria-required="true">
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    {{ form_rest(form) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fa fa-save"> </i> Salvar
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
