{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.admin.html.twig' %}
{% if entity.id ==null %}
    {% set titulo = "Novo" %}
{% else %}
    {% set titulo = "Edição de " %}
{% endif %}

 {% block titulo %}{{ titulo }} Usuário {% endblock %}
 {% block breadcumbsTitulo %}{{ titulo }} Usuário {% endblock %}
 {% block breadcumbsItens %}
     <li><span><a href="{{ path('nte_usuario_index') }}"> Usuários </a></span></li>
     <li><span>{{ titulo }} Usuários</span></li>
 {% endblock %}
{% block conteudo %}
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <div class="panel">
                <div class="panel-heading">
                    <h2 class="panel-title"><i class="fa fa-user-plus"></i> {{ titulo }} Usuário</h2>
                </div>
                <div id="formulario" class="panel-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <div class="col-md-6">
                            {{ form_row(form.nome) }}
                            {{ form_row(form.username) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.cpf) }}
                            {#{{ form_row(form.cursos) }}#}
                        </div>
                        <div class="col-md-6">
                            {% if usrLogado is defined %}
                                {% if usrLogado.categoria == "Admin" %}
                                    {{ form_row(form.categoria) }}
                                {% endif %}
                            {% endif %}

                            {{ form_rest(form) }}

                        </div>
                    </div>
                    <div class="form-group">
                        <button type="reset" class="btn btn-default pull-left">
                            <i class="fa fa-arrow-left"></i> Retornar
                        </button>
                        <button type="submit" class="btn btn-primary pull-right">
                            Salvar <i class="fa fa-save"> </i>
                        </button>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
            margin: 0;
            padding: 0;
            border: none;
            box-shadow: none;
            text-align: center;
        }

        .kv-avatar {
            display: inline-block;
        }

        .kv-avatar .file-input {
            display: table-cell;
            width: 213px;
        }

        .kv-reqd {
            color: red;
            font-family: monospace;
            font-weight: normal;
        }
        .file-drop-zone.clickable:hover {
            border: 1px dashed #999;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/jquery-validation/jquery.validate.js') }}"></script>
    <script>

        $('.btn.btn-default.pull-left').click(function() {
            window.location.href = 'http://estoque.nte.ufsm.br/';
        });

        $.ajaxSetup({
            timeout: 99999999999,
            headers:{
                'X-CSRFToken':"{{ csrf_token('friga-upload-usuario-imagem-cabecalho') }}"
            }
        });
        $('select').select2({allowClear: true});
        $('button').submit(function (e) {
            e.preventDefault();
            let validated = $('form').valid();
            if (validated) {
                $('form').submit();
            }
        });

        $.validator.addMethod("cpf", function (value, element) {
            return this.optional(element) || CPF.validate(value);
        }, "Por favor, Informe um CPF válido.");

        $.extend($.validator.messages, {
            required: "Este campo é obrigatório",
            email: "Por favor, preencha com o endereço de e-mail válido",
        });

        $("form").validate({
            rules: {
                nte_usuario_primeiro_acesso_plainPassword_first: "required",
                nte_usuario_primeiro_acesso_plainPassword_second: {equalTo: "#nte_usuario_primeiro_acesso_plainPassword_first"}
            }
        });
        $('#{{ form.cpf.vars.id }}').mask('000.000.000-00');

    </script>
{% endblock %}


