{% extends 'base.admin.html.twig' %}
 {% block titulo %} Administração de Usuários{% endblock %}
 {% block breadcumbsTitulo %}{% endblock %}
 {% block breadcumbsItens %}
     <li><span><a> Usuários </a></span></li>
 {% endblock %}
{% block conteudo %}
    <div class="col-md-3 col-lg-2 col-sm-12">
        <div class="panel">
            <div class="panel-body">
                <form class="" action="{{ path(app.request.attributes.get('_route')) }}" method="get">
                    <div class="form-group">
                        <label class="control-label">Usuário ou E-Mail </label>
                        <input class="form-control" name="b0" value="{{ dataset.busca0 }}">
                    </div>
                    <div class="form-group">
                        {% for i in 'A'..'Z' %}
                            <a href="{{ path(app.request.attributes.get('_route'), {b1: i}) }}">
                                {% if dataset.busca1 == i %}
                                    <b style="font-size: 15px; font-weight: 900">
                                        {{ i }}
                                    </b>
                                {% else %}
                                    {{ i }}
                                {% endif %}

                            </a>&nbsp;&nbsp;
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block"><i class="fa fa-search"></i> Procurar</button>
                    </div>
                </form>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN_USER') %}
            <section class="panel">
                <div class="panel-body">
                    <div class=" btn-group btn-group-justified">
                        <a href="{{ path('nte_usuario_novo') }}" class="btn btn-default btn-block">
                            <i class="fa fa-2x fa-user-plus"></i><br>
                            Adicionar Usuários
                        </a>
                        <a href="{{ path('nte_usuario_novo') }}" class="btn btn-default btn-block">
                            <i class="fa fa-2x fa-upload"></i><br>
                            Importar Usuários
                        </a>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>
    <div class="col-md-9 col-lg-10 col-sm-12">
        {% if dataset.itens.count %}
            <div class="row">
                {% for u in dataset.itens %}
                    <div class="col-md-3 col-sm-6 item">
                        <div class="panel">
                            <div class="panel-heading bg-primary">
                                <div class="panel-heading-profile-picture">
                                    <img src="{{ asset('assets/img/userpicture.svg') }}" alt="">
                                </div>
                            </div>
                            <div class="panel-body">
                                <h4 class="text-weight-semibold mt-sm">
                                    {% if u.nome %} {{ u.nome }}{% else %}<i>Não informado</i>{% endif %}
                                </h4>
                                <p>{{ u.email }}</p>
                                <p>{{ u.categoria }}</p>
                                <p>
                                    {% if u.highestRole == "ROLE_ADMIN" %}
                                        <p>Administrador do Sistema</p>
                                    {% elseif u.highestRole == "ROLE_COORDENADOR" %}
                                        <p>Coordenador</p>
                                    {% elseif u.highestRole == "ROLE_ADMINISTRATIVO" %}
                                        <p>Avaliador</p>
                                    {% elseif u.highestRole == "ROLE_SOLICITANTE" %}
                                        <p>Solicitante</p>
                                    {% else %}
                                        <p>Usuário</p>
                                    {% endif %}
                                </p>

                                <div class="row text-center text-primary">
                                    {#<div class="col-md-6" title="Inscrições válidas como candidato">#}
                                        {#<h4><i class="icon icon-user"></i> Categoria</h4>#}
                                        {#Categoria#}
                                    {#</div>#}
                                    <div class="col-md-6" title="Participação em bancas">
                                        {#<h4><i class="icon icon-book-open"></i> Cursos</h4>#}
                                        {#Cursos#}
                                    </div>
                                </div>
                                <hr class="solid short">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <p><a href="{{ path('nte_usuario_perfil',{id:u.id}) }}"><i
                                                            class="fa fa-user mr-xs"></i> Perfil</a></p>
                                            <p><a href="{{ path('nte_edit_others_as_admin',{id:u.id}) }}"><i
                                                            class="fa fa-edit mr-xs"></i> Editar</a></p>
                                            <p><a href="{{ path('nte_usuario_ativar', {'id': u.id}) }}">
                                                    {% if u.enabled ==1 %}
                                                        <i class="fa fa-power-off mr-xs text-primary"></i>
                                                        Desativar
                                                    {% else %}
                                                        <i class="fa fa-power-off mr-xs"></i> Ativar
                                                    {% endif %}
                                                </a>
                                            </p>
                                            {#<p><a href="#"><i class="fa fa-lock mr-xs"></i> Trocar senha</a></p>#}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {#{% for e in u.roles %}#}
                                            {#<i class="fa fa-circle-o-notch mr-xs"></i> {{ u.roles2[e] }}#}
                                        {#{% endfor %}#}
                                    </div>
                                </div>
                                <br>
                                <div class="text-center">
                                    {% if u.lastLogin != null %}
                                        Último acesso em {{ u.lastLogin|date('d/m/Y H:i:s') }}
                                    {% else %}
                                        <i>Nunca acessou o sistema</i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="text-center">
                    {{ include('::paginacao.html.twig',{datase: dataset}) }}
                </div>
            </div>
            <br>
            <br>
            <br>

        {% else %}
            <div class="body-error error-inside">
                <div class="center-error">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-error mb-xlg">
                                <h2 class="error-code text-dark text-center text-weight-semibold m-none">
                                    <i class="fa fa-search text-primary"></i></h2>
                                <p class="error-explanation text-center text-primary">
                                    <br><b>Nenhum resultado </b> a ser mostrado.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock -%}
{% block javascripts2 %}
    <script src="{{ asset('assets/vendor/jquery-match-height/jquery.matchHeight-min.js') }}"></script>
    <script>
        $.fn.matchHeight._rows($('.item'));
    </script>
{% endblock %}