{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.admin.html.twig' %}
 {% block breadcumbsTitulo %}{% endblock %}
 {% block breadcumbsItens %}
     <li><span>Usuários</span></li>
     <li><span>{{ usuario.nome }}</span></li>
 {% endblock %}
{% block conteudo %}
    {% set roles = usuario.roles2 %}
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <section class="panel">
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-user"></i> {{ usuario.nome }}</li>
                        <li><i class="fa fa-envelope"></i> {{ usuario.email }} </li>
                        <li>
                            {% if usuario.contatoTelefone1 == null %}
                                <i class="fa fa-phone"></i>      Não informado
                            {% else %}
                                <i class="fa fa-phone"></i>  {{ usuario.contatoTelefone1 }}
                            {% endif %}
                        </li>
                        <li></li>
                        <li></li>
                    </ul>

                    {#<hr class="dotted short">#}

                    {#<h6 class="text-muted"><i class="fa fa-clock-o"></i> Último Acesso</h6>#}
                    {#<p>#}
                        {#{% if usuario.lastLogin == null %}#}
                            {#Nunca acessou o sistema#}
                        {#{% else %}#}
                            {#{{ usuario.lastLogin|date('d/m/Y H:i') }}#}
                        {#{% endif %}#}
                    {#</p>#}

                    <hr class="dotted short">

                    <h6 class="text-muted"><i class="fa fa-user"></i> Categoria</h6>
                    {% if usuario.highestRole == "ROLE_ADMIN" %}
                        <p>Administrador do Sistema</p>
                    {% elseif usuario.highestRole == "ROLE_COORDENADOR" %}
                        <p>Coordenador</p>
                    {% elseif usuario.highestRole == "ROLE_ADMINISTRATIVO" %}
                        <p>Avaliador</p>
                    {% elseif usuario.highestRole == "ROLE_SOLICITANTE" %}
                        <p>Solicitante</p>
                    {% else %}
                        <p>Usuário</p>
                    {% endif %}

                    <hr class="dotted short">
                    <h6 class="text-muted"><i class="fa fa-book"></i> Cursos</h6>
                    {% for curso in cursos %}
                        <li>{{ curso }}</li>
                    {% endfor %}

                    <hr class="dotted short">

                    {#{% if is_granted('ROLE_ADMIN') %}#}
                    <a href="{{ path('nte_usuario_editar', {'id': usuario.id }) }}">
                        <button type="button" class="btn btn-primary btn-sm" id="edit-btn">Editar </button>
                    </a>
                    {#{% endif %}#}
                </div>
            </section>
        </div>

    </div>




{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        li {
            list-style-type: none;
        }

    </style>
{% endblock %}

{% block javascripts3 %}
    {{ parent() }}
    <script>

        (function () {

            const model = {

            };

            const controller = {

                init() {
                    this.editProfileRedirect();
                    view.init();
                },

                setValorModel(nome, valor) {
                    model[nome] = valor;
                },

                imprimeModel() {
                    console.table(model);
                },

                editProfileRedirect() {

                },

            };

            const view = {

                init() {
                    this.inicializarReferenciaHtml();
                    this.inicializarEventListeners();
                },

                inicializarReferenciaHtml() {

                },

                inicializarEventListeners() {

                },

            };
            controller.init();
        }());


    </script>
{% endblock %}