{% extends 'base.admin.html.twig' %}
 {% block titulo %} Administração de Usuários{% endblock %}
 {% block breadcumbsTitulo %}Administração Usuários{% endblock %}
 {% block breadcumbsItens %}
     <li><span><a href="{{ path('nte_usuario_index') }}"> Usuários </a></span></li>
 {% endblock %}
{% block conteudo %}
    <div class="col-md-3 col-lg-2 col-sm-12">
        <section class="panel">
            <div class="panel-body">
                <form class="" action="#">
                    <div class="form-group">
                        <label class="control-label">Usuário ou E-Mail </label>
                        <input class="form-control">
                    </div>
                    <div class="form-group">
                        {% for i in 'A'..'Z' %}
                            <a class="#"> {{ i }} </a>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block"><i class="fa fa-search"></i> Procurar</button>
                    </div>
                </form>
            </div>
        </section>
        {% if is_granted('ROLE_ADMIN_USER') %}
        <section class="panel">
            <div class="panel-body">
                <a href="{{ path('nte_usuario_novo') }}" class="btn btn-default btn-block">
                    <i class="fa fa-2x fa-user-plus"></i><br>
                    Adicionar Usuários
                </a>
                <a href="{{ path('nte_usuario_novo') }}" class="btn btn-default btn-block">
                    <i class="fa fa-2x fa-upload"></i><br>
                    Importar Usuários
                </a>
            </div>
        </section>
        {% endif %}
    </div>
    <div class="col-md-9 col-lg-10 col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">
                    <span class="va-middle"> <i class="fa fa-users"> </i> Lista de usuários </span>
                </h2>
            </header>
            <div class="panel-body">
                <table class="table table-responsive table-condensed">
                    {% for u in usuarios %}
                        <tr>
                            <td width="64">
                                <div class="image rounded ">
                                    <a title="clique aqui para visualizar o usuário de {{ u.nome }}"
                                       href="{{ path('nte_usuario_perfil',{id:u.id}) }}">
                                        <img width="64"
                                             src="{{ path('nte_usuario_imagem_perfil',{id:u.id}) }}"
                                             alt="{{ u.nome }}" class="img-circle img-responsive">
                                    </a>
                                </div>
                            </td>
                            <td>
                                <a title="clique aqui para visualizar o usuário de {{ u.nome }}"
                                   href="{{ path('nte_usuario_perfil',{id:u.id}) }}">{{ u.nome }}</a><br>
                                {{ u.email }}
                            </td>
                            <td class="text-right">
                                {% if u.lastLogin != null %}
                                Último acesso em <br>
                                <small>{{ u.lastLogin|date('d/m/Y H:i:s') }}</small>
                                {% else %}
                                Nunca acessou o sistema
                                {% endif %}
                            </td>
                            {% if is_granted('ROLE_ADMIN_USER') %}
                            <td width="130">
                                <div class="btn-group btn-group-justified">
                                    <a class="btn btn-default"
                                       title="Clique aqui para ativar/desativar o usuário  {{ u.username }}"
                                       href="{{ path('nte_usuario_ativar', {'id': u.id}) }}">
                                        {% if u.enabled ==1 %}
                                        <i class="fa fa-toggle-on text-primary"></i>
                                        {% else %}
                                        <i class="fa fa-toggle-off "></i>
                                        {% endif %}
                                    </a>
                                    <a class="btn btn-default"
                                       title="Clique aqui para trocar a senha do usuário {{ u.username }}"
                                       href="{{ path('nte_usuario_editar', {'id': u.id}) }}">
                                        <i class="fa fa-lock"></i>
                                    </a>
                                    <a class="btn btn-default"
                                       title="Clique aqui para editar o usuário {{ u.username }}"
                                       href="{{ path('nte_usuario_editar', {'id': u.id}) }}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </div>
{% endblock -%}
