{% extends 'base.admin.html.twig' %}
 {% block titulo %} Administração de Usuários{% endblock %}
 {% block breadcumbsTitulo %}Administração Usuários{% endblock %}
 {% block breadcumbsItens %}
     <li><span><a href="{{ path('nte_usuario_index') }}"> Usuários </a></span></li>
 {% endblock %}
{% block conteudo %}
{{ lastlogin|date('Y-m-d') }}
{% endblock -%}
