{% extends 'base.admin.html.twig' %}
{% block titulo %} Dashboard{% endblock %}
{% block breadcumbsTitulo %}{% endblock %}
{% block conteudo %}


    {#criar dash para o meu sistema, navegação por aqui..#}

    {#<div class="col-md-6 col-lg-6 col-xl-6">#}
        {#<div class="row">#}
            {#<div class="col-md-4 col-lg-4 col-xl-4">#}
                {#<section class="panel panel-featured-left panel-featured-primary">#}
                    {#<div class="panel-body">#}
                        {#<div class="widget-summary widget-summary-sm">#}
                            {#<div class="widget-summary-col widget-summary-col-icon">#}
                                {#<div class="summary-icon bg-primary">#}
                                    {#<i class="fa fa-graduation-cap"></i>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="widget-summary-col">#}
                                {#<div class="summary">#}
                                    {#<h4 class="title">Cursos</h4>#}
                                    {#<div class="info">#}
                                        {#<strong class="amount">{{ dados.curso }}</strong>#}
                                        {#{% if dados.cursoNovo >0 %}#}
                                            {#<span class="text-primary">({{ dados.cursoNovo }} Novos)</span>#}
                                        {#{% endif %}#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</section>#}
            {#</div>#}
            {#<div class="col-md-4 col-lg-4 col-xl-4">#}
                {#<section class="panel panel-featured-left panel-featured-primary">#}
                    {#<div class="panel-body">#}
                        {#<div class="widget-summary widget-summary-sm">#}
                            {#<div class="widget-summary-col widget-summary-col-icon">#}
                                {#<div class="summary-icon bg-primary">#}
                                    {#<i class="fa fa-th-large"></i>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="widget-summary-col">#}
                                {#<div class="summary">#}
                                    {#<h4 class="title">Disciplinas</h4>#}
                                    {#<div class="info">#}
                                        {#<strong class="amount">{{ dados.disciplina }}</strong>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</section>#}
            {#</div>#}
            {#<div class="col-md-4 col-lg-4 col-xl-4">#}
                {#<section class="panel panel-featured-left panel-featured-primary">#}
                    {#<div class="panel-body">#}
                        {#<div class="widget-summary widget-summary-sm">#}
                            {#<div class="widget-summary-col widget-summary-col-icon">#}
                                {#<div class="summary-icon bg-primary">#}
                                    {#<i class="fa fa-th"></i>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="widget-summary-col">#}
                                {#<div class="summary">#}
                                    {#<h4 class="title">Turmas</h4>#}
                                    {#<div class="info">#}
                                        {#<strong class="amount">{{ dados.turma }}</strong>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</section>#}
            {#</div>#}

            {#<div class="col-md-4 col-lg-4 col-xl-4">#}
                {#<section class="panel panel-featured-left panel-featured-secondary">#}
                    {#<div class="panel-body">#}
                        {#<div class="widget-summary widget-summary-sm">#}
                            {#<div class="widget-summary-col widget-summary-col-icon">#}
                                {#<div class="summary-icon bg-secondary">#}
                                    {#<i class="fa fa-user"></i>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="widget-summary-col">#}
                                {#<div class="summary">#}
                                    {#<h4 class="title">Usuários</h4>#}
                                    {#<div class="info">#}
                                        {#<strong class="amount">{{ dados.usuario }}</strong>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</section>#}
            {#</div>#}
            {#<div class="col-md-4 col-lg-4 col-xl-4">#}
                {#<section class="panel panel-featured-left panel-featured-tertiary">#}
                    {#<div class="panel-body">#}
                        {#<div class="widget-summary widget-summary-sm">#}
                            {#<div class="widget-summary-col widget-summary-col-icon">#}
                                {#<div class="summary-icon bg-tertiary">#}
                                    {#<i class="fa fa-user-plus"></i>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="widget-summary-col">#}
                                {#<div class="summary">#}
                                    {#<h4 class="title">Matriculas</h4>#}
                                    {#<div class="info">#}
                                        {#<strong class="amount">{{ dados.inscricao }}</strong>#}
                                        {#{% if dados.inscricaoNovo >0 %}#}
                                            {#<span class="text-primary">({{ dados.inscricaoNovo }} Novos)</span>#}
                                        {#{% endif %}#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</section>#}
            {#</div>#}
            {#<div class="col-md-4 col-lg-4 col-xl-4">#}
                {#<section class="panel panel-featured-left panel-featured-quartenary">#}
                    {#<div class="panel-body">#}
                        {#<div class="widget-summary widget-summary-sm">#}
                            {#<div class="widget-summary-col widget-summary-col-icon">#}
                                {#<div class="summary-icon bg-quartenary">#}
                                    {#<i class="fa fa-user-times"></i>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="widget-summary-col">#}
                                {#<div class="summary">#}
                                    {#<h4 class="title">Desmatriculas</h4>#}
                                    {#<div class="info">#}
                                        {#<strong class="amount">{{ dados.desinscricao }}</strong>#}
                                        {#{% if dados.desinscricaoNovo >0 %}#}
                                            {#<span class="text-primary">({{ dados.desinscricaoNovo }} Novos)</span>#}
                                        {#{% endif %}#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</section>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="col-md-6 col-lg-6 col-xl-6">#}
        {#<section class="panel">#}
            {#<div class=" panel-body text-center">#}
                {#<div class="row">#}
                    {#<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">#}
                        {#<a href="{{ path('nte_aplicacao_exportador_homepage') }}">#}
                            {#<div class="featured-box featured-box-primary featured-box-effect-3" style="height: 168px;">#}
                                {#<div class="box-content">#}
                                    {#<i class="icon-featured fa fa-cloud-download fa-5x"></i>#}
                                    {#<h4>Exportar Cursos</h4>#}
                                    {#<p>Exporta um curso inteiro para moodle</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</a>#}
                    {#</div>#}
                    {#<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">#}
                        {#<a href="{{ path('buscador_pessoas_index') }}">#}
                            {#<div class="featured-box featured-box-primary featured-box-effect-3" style="height: 168px;">#}
                                {#<div class="box-content">#}
                                    {#<i class="icon-featured fa fa-users fa-5x"></i>#}
                                    {#<h4>Buscar Pessoas</h4>#}
                                    {#<p>Busca pessoas cadastradas no sie</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</a>#}
                    {#</div>#}
                    {#<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">#}
                        {#<a href="{{ path('exportador_relatorio_index') }}">#}
                            {#<div class="featured-box featured-box-primary featured-box-effect-3">#}
                                {#<div class="box-content">#}
                                    {#<i class="icon-featured fa fa-bar-chart fa-5x"></i>#}
                                    {#<h4>Relatórios</h4>#}
                                    {#<p>Visualiza relatório e estátisticas do sistema</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</a>#}
                    {#</div>#}

                    {#<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">#}
                        {#<a href="{{ path('nte_config_base_homepage') }}">#}
                            {#<div class="featured-box featured-box-primary featured-box-effect-3">#}
                                {#<div class="box-content">#}
                                    {#<i class="icon-featured fa fa-cogs fa-5x"></i>#}
                                    {#<h4>Configurações</h4>#}
                                    {#<p>Gerencia as configurações do sistema</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</section>#}
    {#</div>#}

    {#<div class="col-md-6 col-lg-6 col-xl-6">#}
        {#<section class="panel">#}
            {#<header class="panel-heading">#}
                {#<h2 class="panel-title">#}
                    {#<span class="va-middle">Últimas tentativas de  exportação</span>#}
                {#</h2>#}
            {#</header>#}
            {#<div class="panel-body">#}
                {#<table class="table table-condensed table-striped table-bordered">#}
                    {#<tr>#}
                        {#<th>Tentativa</th>#}
                        {#<th>Nome do Curso</th>#}
                    {#</tr>#}
                    {#{% for r in rel3 %}#}
                        {#<tr>#}
                            {#<td>#}
                                {#<a href="{{ path('exportador_relatorio_log_detalhe',{me:r.idExportacao.id, uuid:r.uuid}) }}">#}
                                    {#{{ r.uuid|date("d/m/Y H:i:s") }}#}
                                {#</a>#}
                            {#</td>#}
                            {#<td>#}
                                {#{% if r.idExportacao.status == 99 %}#}
                                    {#<div class="label label-success">Ok</div>#}
                                {#{% elseif r.idExportacao.status > 100 %}#}
                                    {#<div class="label label-danger">Erro</div>#}
                                {#{% else %}#}
                                    {#<div class="label label-primary">Exportando</div>#}
                                {#{% endif %}#}

                                {#{{ r.idExportacao.nomeCurso }}#}
                            {#</td>#}
                        {#</tr>#}

                    {#{% endfor %}#}
                {#</table>#}
            {#</div>#}
        {#</section>#}
    {#</div>#}
    {#<div class="col-md-6">#}
        {#<section class="panel">#}
            {#<header class="panel-heading">#}
                {#<h2 class="panel-title">Alterações de matriculas no SIE </h2>#}
            {#</header>#}
            {#<div class="panel-body">#}
                {#<div id="graficoAltaracaoSie" class="ct-chart ct-perfect-fourth ct-golden-section"></div>#}
            {#</div>#}
        {#</section>#}
    {#</div>#}


{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts3 %}
    {{ parent() }}


{% endblock %}